Repository espressomd/espresso, pull requests merged in 2018-11, with the labels that each got.

#2348 LB philox RNG
  src/core/curand_wrapper.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/grid_based_algorithms/lbgpu.cuh
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
Labels: Core, Improvement

#2344 Testsuite: coldet feature guard and test name
  src/core/collision.cpp
  testsuite/python/collision_detection.py
Labels: BugFix, Python

#2294 aovid error with widom insertion. exclusion radius should not have any effect here
  src/core/reaction_ensemble.cpp
Labels: BugFix, Core

#2367 Anisotropy
  src/core/domain_decomposition.cpp
  src/core/electrostatics_magnetostatics/maggs.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/particle_data.cpp
  src/core/rotate_system.cpp
  src/core/rotation.hpp
  src/core/thermostat.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/features.def
Labels: BugFix, Core

#1923 DD resort refactor
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/debug.cpp
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/core/ghosts.cpp
  src/core/grid.cpp
  src/core/grid.hpp
  src/core/layered.cpp
  src/core/layered.hpp
  src/core/nsquare.cpp
  src/core/nsquare.hpp
  src/core/particle_data.cpp
  src/core/short_range_loop.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/sendrecv_test.cpp
  src/core/utils/mpi/sendrecv.hpp
Labels: Core, Improvement
