Repository espressomd/espresso, pull requests merged in 2018-10, with the labels that each got.

#2299 Document CUDA workaround on Ubuntu 18.04
  doc/sphinx/installation.rst
Labels: BugFix, Documentation

#2224 Disable short range if max_cut <=0
  src/core/Vector.hpp
  src/core/energy.cpp
  src/core/energy_inline.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/object-in-fluid/oif_local_forces.hpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/core/statistics.cpp
  src/core/utils/math/triangle_functions.hpp
  testsuite/python/langevin_thermostat.py
Labels: Core, Improvement

#2313 fix Ubuntu 18.04 CUDA fix in documentation
  doc/sphinx/installation.rst
Labels: BugFix, Documentation

#2341 Core: VS tracers: don't complain about missing lb for non-virtual par…
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  testsuite/python/virtual_sites_tracers_common.py
Labels: BugFix, Core

#2349 added P3M guard for bonded_coulomb_p3m_sr
  src/core/bonded_interactions/bonded_coulomb_p3m_sr.cpp
  src/python/espressomd/interactions.pxd
Labels: BugFix, Core
