Repository espressomd/espresso, pull requests merged in 2018-02, with the labels that each got.

#1858 cmake: More robust version detection for sphinx.
  cmake/FindSphinx.cmake
Labels: CMake

#1756 Particle polarizability with thermalized cold Drude oscillators
  doc/sphinx/advanced_methods.rst
  doc/sphinx/inter_bonded.rst
  doc/sphinx/inter_non-bonded.rst
  maintainer/configs/maxset.hpp
  maintainer/configs/nocheck-maxset.hpp
  samples/drude_bmimpf6.py
  src/core/bonded_coulomb_p3m_sr.cpp
  src/core/bonded_coulomb_p3m_sr.hpp
  src/core/elc.cpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/core/global.cpp
  src/core/global.hpp
  src/core/initialize.cpp
  src/core/interaction_data.cpp
  src/core/interaction_data.hpp
  src/core/p3m.hpp
  src/core/pressure_inline.hpp
  src/core/thermalized_bond.cpp
  src/core/thermalized_bond.hpp
  src/core/thermostat.cpp
  src/core/thole.cpp
  src/core/thole.hpp
  src/features.def
  src/python/espressomd/drude_helpers.py
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  testsuite/CMakeLists.txt
  testsuite/drude.py
  testsuite/icc.py
  testsuite/thermalized_bond.py
  testsuite/thole.py
Labels: Core, Improvement, Python

#1855 core: dipolar direct sum: Don't mix free and new. Set Dmethod before …
  src/core/actor/DipolarDirectSum.cpp
  src/core/actor/DipolarDirectSum.hpp
Labels: BugFix, Core

#1864 doc: Corrected exclusions doc.
  doc/sphinx/particles.rst
Labels: BugFix, Documentation

#1863 Improved doc for "Basic python simulation script"
  doc/sphinx/introduction.rst
Labels: Documentation
