Repository espressomd/espresso, pull requests merged in 2019-03, with the labels that each got.

#2563 ci: Remove noise level of the ci build script
  maintainer/CI/build_cmake.sh
Labels: CI, ReadyForReview

#2562 Fix nightly builds
  .gitlab-ci.yml
  libs/CMakeLists.txt
  libs/Random123-1.09/include/Random123/features/gccfeatures.h
Labels: CI

#2570 Fix Random123 on architectures that do not provide 128-bit integers
  libs/CMakeLists.txt
Labels: BugFix, CMake

#2511 WIP: mutually-compatible features checkpointing
  src/core/grid_based_algorithms/lattice.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbboundaries.cpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/python/espressomd/actors.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/lb.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: BugFix, Core, Testcase

#2580 Remove forces and boundaries from the GPU checkpoint file
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
Labels: Core

#2542 core: Removed duplication of pair bond force calc.
  doc/sphinx/inter_bonded.rst
  src/core/TabulatedPotential.hpp
  src/core/bonded_interactions/angle_common.hpp
  src/core/bonded_interactions/angle_cosine.hpp
  src/core/bonded_interactions/angle_cossquare.hpp
  src/core/bonded_interactions/angle_harmonic.hpp
  src/core/bonded_interactions/bonded_coulomb.hpp
  src/core/bonded_interactions/bonded_coulomb_p3m_sr.hpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/bonded_interactions/dihedral.hpp
  src/core/bonded_interactions/fene.hpp
  src/core/bonded_interactions/harmonic.hpp
  src/core/bonded_interactions/harmonic_dumbbell.hpp
  src/core/bonded_interactions/quartic.hpp
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/bonded_interactions/umbrella.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/core/forces_inline.hpp
  src/core/nonbonded_interactions/nonbonded_tab.hpp
  src/core/pressure_inline.hpp
  src/core/utils.hpp
  src/core/utils/linear_interpolation.hpp
  src/python/espressomd/integrate.pyx
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/interactions_bond_angle.py
  testsuite/python/interactions_bonded.py
  testsuite/python/interactions_dihedral.py
Labels: BugFix, Core, ReadyForReview

#2588 Label expected LB error messages
  testsuite/python/lb.py
Labels: CI

#2595 Vector
  src/core/bonded_interactions/harmonic_dumbbell.hpp
  src/core/constraints/HomogeneousMagneticField.cpp
  src/core/immersed_boundary/ibm_tribend.cpp
  src/core/immersed_boundary/ibm_triel.cpp
  src/core/object-in-fluid/membrane_collision.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/rotation.cpp
  src/core/shapes/HollowCone.cpp
  src/core/shapes/Stomatocyte.cpp
  src/core/statistics.cpp
  src/core/unit_tests/vec_rotate_test.cpp
  src/core/utils/Vector.hpp
  src/core/utils/math/triangle_functions.hpp
Labels: Core, ReadyForReview

#2567 Callback refactor
  src/core/CMakeLists.txt
  src/core/MpiCallbacks.cpp
  src/core/MpiCallbacks.hpp
  src/core/ParticleCache.hpp
  src/core/cells.cpp
  src/core/collision.cpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/domain_decomposition.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/electrostatics_magnetostatics/scafacos.hpp
  src/core/energy.cpp
  src/core/errorhandling.cpp
  src/core/event.cpp
  src/core/event.hpp
  src/core/galilei.cpp
  src/core/global.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbboundaries.cpp
  src/core/integrate.cpp
  src/core/io/mpiio/mpiio.cpp
  src/core/minimize_energy.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/particle_data.cpp
  src/core/pressure.cpp
  src/core/random.cpp
  src/core/rotate_system.cpp
  src/core/rotation.cpp
  src/core/statistics.cpp
  src/core/swimmer_reaction.cpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/MpiCallbacks_test.cpp
  src/core/unit_tests/tuple_test.cpp
  src/core/utils/NumeratedContainer.hpp
  src/core/utils/make_function.hpp
  src/core/utils/parallel/Callback.hpp
  src/core/utils/parallel/ParallelObject.hpp
  src/core/utils/tuple.hpp
  src/core/utils/type_traits.hpp
  src/core/virtual_sites.cpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ParallelScriptInterface.hpp
  src/script_interface/ParallelScriptInterfaceSlave.cpp
  src/script_interface/ParallelScriptInterfaceSlave.hpp
Labels: Core, Improvement, ReadyForReview

#2615 utils: Fixed warning from Utils::int_pow and made some math functions…
  src/core/unit_tests/AS_erfc_part_test.cpp
  src/core/unit_tests/int_pow_test.cpp
  src/core/unit_tests/sgn_test.cpp
  src/core/utils/math/AS_erfc_part.hpp
  src/core/utils/math/int_pow.hpp
  src/core/utils/math/sgn.hpp
  src/core/utils/math/sinc.hpp
  src/core/utils/math/sqr.hpp
Labels: Core, Improvement, ReadyForReview

#2621 Doxygen cleanup
  doc/doxygen/Doxyfile
  doc/doxygen/gen_doxyconfig.py
  src/core/MpiCallbacks.hpp
  src/core/communication.hpp
  src/core/debug.hpp
  src/core/event.hpp
  src/core/utils/tuple.hpp
  src/script_interface/observables/CylindricalProfileObservable.hpp
  src/script_interface/observables/ParamlessObservable.hpp
Labels: Documentation

#2634 Bond angle refactor
  doc/doxygen/Doxyfile
  doc/sphinx/inter_bonded.rst
  src/core/bonded_interactions/angle_common.hpp
  src/core/bonded_interactions/angle_cosine.hpp
  src/core/bonded_interactions/angle_cossquare.hpp
  src/core/bonded_interactions/angle_harmonic.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/forces_inline.hpp
  src/core/observables/ParticleAngles.hpp
  src/core/observables/ParticleDihedrals.hpp
  src/core/observables/ParticleDistances.hpp
  src/core/pressure_inline.hpp
  src/core/utils.hpp
  src/python/espressomd/observables.py
  src/python/espressomd/particle_data.pyx
  src/script_interface/observables/initialize.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/interactions_bond_angle.py
  testsuite/python/observable_chain.py
  testsuite/python/observables.py
Labels: Core, Documentation, Improvement, Testcase

#2627 Scriptinterface::Observables documentation
  src/core/observables/Observable.hpp
  src/core/observables/ParticleForces.hpp
  src/core/observables/ParticlePositions.hpp
  src/core/observables/ParticleVelocities.hpp
  src/core/observables/PidObservable.hpp
  src/script_interface/README.org
  src/script_interface/ScriptInterface.dox
  src/script_interface/ScriptInterface.hpp
  src/script_interface/ScriptInterfaceBase.hpp
  src/script_interface/h5md/initialize.cpp
  src/script_interface/mpiio/initialize.cpp
  src/script_interface/observables/Observable.hpp
  src/script_interface/observables/PidObservable.hpp
  src/script_interface/observables/initialize.cpp
Labels: Documentation, ScriptInterface
