Repository espressomd/espresso, pull requests merged in 2019-01, with the labels that each got.

#2148 Rotational diffusion tests for anisotropic particle
  testsuite/python/CMakeLists.txt
  testsuite/python/rotational-diffusion-aniso.py
  testsuite/python/rotational_inertia.py
  testsuite/python/tests_common.py
Labels: Python, Testcase

#2465 Cleanup and document P3M/DP3M functions
  src/core/electrostatics_magnetostatics/p3m-common.cpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/core/electrostatics_magnetostatics/p3m_gpu.hpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/electrostatics_magnetostatics/p3m_gpu_error.hpp
  src/core/electrostatics_magnetostatics/p3m_gpu_error_cuda.cu
  src/core/tuning.cpp
  src/python/espressomd/electrostatics.pyx
Labels: Documentation

#2458 core: Removed GHMC
  doc/sphinx/installation.rst
  doc/sphinx/introduction.rst
  doc/sphinx/system_setup.rst
  maintainer/configs/immersed_boundaries.hpp
  maintainer/configs/maxset.hpp
  maintainer/configs/nocheck-maxset.hpp
  src/config/features.def
  src/core/CMakeLists.txt
  src/core/ghmc.cpp
  src/core/ghmc.hpp
  src/core/global.cpp
  src/core/global.hpp
  src/core/initialize.cpp
  src/core/integrate.cpp
  src/core/particle_data.hpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
Labels: Core, ReadyForReview

#2427 Thermo test performance significant improvement
  testsuite/python/CMakeLists.txt
  testsuite/python/mass-and-rinertia_per_particle.py
Labels: Testcase
