Repository espressomd/espresso, pull requests merged in 2019-11, with the labels that each got.

#3292 Pypresso: Remove "test -a" and quote $@
  src/python/pypresso.cmakein
Labels: BugFix

#3299 utils: Constrain Vector scalar product to true vectors, corrected Mat…
  src/core/rotation.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/tests/Vector_test.cpp
  src/utils/tests/rotation_matrix_test.cpp
Labels: BugFix, Core

#3310 core: Fixed ELC potential difference prefactor + test
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/mmm2d.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/elc.py
Labels: BugFix, Core, Testcase

#3325 core: p3m: Factored out common local mesh calculation from p3m/dp3m
  src/core/electrostatics_magnetostatics/p3m-common.cpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
Labels: Core, Improvement

#3327 core: Fixed bitwise comparison of floating point numbers
  src/core/unit_tests/MpiCallbacks_test.cpp
  src/utils/tests/matrix_vector_product.cpp
Labels: BugFix, Core
