Repository espressomd/espresso, pull requests merged in 2020-08, with the labels that each got.

#3845 Fix CUDA package names
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerHIP.cmake
  cmake/FindCUDACompilerNVCC.cmake
Labels: CMake, automerge

#3846 Hotfixes
  samples/billiard.py
  samples/minimal-diamond.py
  src/python/object_in_fluid/oif_classes.py
Labels: automerge

#3829 Move mac tests to GitHub actions
  .gitlab-ci.yml
Labels: CI, automerge

#3849 Disable dlopen trick on OpenMPI >= 3.0.0
  src/core/communication.cpp
Labels: automerge

#3851 maintainer: added config file for lgtm (experimenting with new tools)
  .lgtm.yml
Labels: automerge

#3852 Fix CMake compiler flags logic
  CMakeLists.txt
Labels: BugFix, CMake, automerge

#3856 Modernize code
  CMakeLists.txt
  samples/chamber_game.py
  samples/lj-demo.py
  src/config/featuredefs.py
  src/core/debug.hpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/electrostatics_magnetostatics/specfunc.hpp
  src/core/forcecap.hpp
  src/core/global.cpp
  src/core/io/mpiio/mpiio.cpp
  src/python/espressomd/reaction_ensemble.pyx
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/visualization.pyx
  src/python/espressomd/visualization_mayavi.pyx
  src/python/espressomd/visualization_opengl.py
  src/python/object_in_fluid/oif_classes.py
  testsuite/python/rotation.py
Labels: Core, Python, automerge

#3848 Return correct shapes from Correlator
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part3_solution.py
  doc/tutorials/06-active_matter/06-active_matter.ipynb
  doc/tutorials/06-active_matter/solutions/enhanced_diffusion.py
  samples/diffusion_coefficient.py
  samples/observables_correlators.py
  src/core/accumulators/AccumulatorBase.hpp
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/core/accumulators/MeanVarianceCalculator.hpp
  src/core/accumulators/TimeSeries.hpp
  src/core/observables/Observable.hpp
  src/python/espressomd/accumulators.py
  src/script_interface/accumulators/AccumulatorBase.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
  testsuite/python/brownian_dynamics.py
  testsuite/python/correlation.py
  testsuite/python/langevin_thermostat.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: ApiChange, Core, Improvement, Testcase, automerge

#3860 MMM maintenance
  src/core/actor/DipolarDirectSum.hpp
  src/core/actor/DipolarDirectSum_cuda.cu
  src/core/actor/DipolarDirectSum_cuda.hpp
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/actor/mmm-common_cuda.hpp
  src/core/actor/specfunc_cuda.hpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/elc.hpp
  src/core/electrostatics_magnetostatics/icc.hpp
  src/core/electrostatics_magnetostatics/mmm-common.hpp
  src/core/electrostatics_magnetostatics/mmm-modpsi.cpp
  src/core/electrostatics_magnetostatics/mmm-modpsi.hpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/mmm1d.hpp
  src/core/electrostatics_magnetostatics/scafacos.hpp
  src/core/electrostatics_magnetostatics/specfunc.cpp
  src/core/electrostatics_magnetostatics/specfunc.hpp
  src/core/rotate_system.hpp
  src/scafacos/Scafacos.hpp
  src/utils/include/utils/constants.hpp
  src/utils/tests/random_sequence.hpp
Labels: Core, Improvement, automerge

#3863 FFT maintenance
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/electrostatics_magnetostatics/fft.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
Labels: Core, Documentation, automerge

#3867 cmake: Turn FFTW3 into imported target
  cmake/FindFFTW3.cmake
  src/core/CMakeLists.txt
Labels: CMake, automerge

#3862 cmake: turn ctest in cache variable
  CMakeLists.txt
  maintainer/benchmarks/CMakeLists.txt
  src/CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/scripts/benchmarks/CMakeLists.txt
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/tutorials/CMakeLists.txt
Labels: CMake, automerge

#3872 Add support for Jupyter plugin exercise2
  doc/sphinx/installation.rst
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part4.ipynb
  doc/tutorials/04-lattice_boltzmann/CMakeLists.txt
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part4_solution.py
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part4_solution_cut.cmake
  doc/tutorials/CMakeLists.txt
  doc/tutorials/html_runner.py
  requirements.txt
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part4.py
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part4_solution.py
  testsuite/scripts/tutorials/test_html_runner.py
Labels: Documentation, automerge

#3869 Refactor exception mechanism in P3M/DP3M tuning functions
  doc/sphinx/advanced_methods.rst
  doc/sphinx/constraints.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/io.rst
  doc/sphinx/magnetostatics.rst
  doc/sphinx/particles.rst
  doc/sphinx/running.rst
  doc/sphinx/system_manipulation.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/visualization.rst
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatics.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/electrostaticInteractions.py
  testsuite/python/p3m_tuning_exceptions.py
Labels: BugFix, Core, Documentation, Python, Testcase, automerge

#3873 Remove unused macros
  src/config/config.hpp
  src/core/actor/Mmm1dgpuForce.hpp
  src/core/actor/specfunc_cuda.hpp
  src/core/collision.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/specfunc.cpp
  src/core/nonbonded_interactions/ljcos2.hpp
  src/core/observables/EnergyObservable.hpp
  src/core/observables/PressureObservable.hpp
  src/core/observables/PressureTensor.hpp
  src/shapes/unit_tests/Ellipsoid_test.cpp
  src/utils/include/utils/constants.hpp
  src/utils/include/utils/math/triangle_functions.hpp
  src/utils/tests/triangle_functions_test.cpp
Labels: Core, automerge

#3871 Fix CMake logic for imported targets
  cmake/FindFFTW3.cmake
  src/utils/CMakeLists.txt
Labels: BugFix, CMake, automerge

#3746 ROCm 3.5 and 3.7 CMake fixes
  .gitlab-ci.yml
  cmake/FindCUDACompilerHIP.cmake
Labels: CMake, automerge

#3878 Bump Python and CMake versions
  CMakeLists.txt
  src/python/espressomd/actors.pyx
  src/python/espressomd/analyze.pyx
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/checkpointing.py
  src/python/espressomd/collision_detection.pyx
  src/python/espressomd/electrokinetics.pyx
  src/python/espressomd/highlander.py
  src/python/espressomd/interactions.pyx
  src/python/espressomd/lb.pyx
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/polymer.pyx
  src/python/espressomd/reaction_ensemble.pyx
  src/python/espressomd/system.pyx
  src/python/espressomd/utils.pyx
  src/python/espressomd/version.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/utils.py
Labels: BugFix, CMake, Python, Testcase, automerge

#3879 Remove duplicated functions in DP3M code
  src/core/electrostatics_magnetostatics/dp3m_influence_function.hpp
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-data_struct.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/p3m_test.cpp
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/coulomb_cloud_wall_duplicated.py
  testsuite/python/coulomb_mixed_periodicity.py
  testsuite/python/dipolar_mdlc_p3m_scafacos_p2nfft.py
  testsuite/python/electrostaticInteractions.py
  testsuite/python/magnetostaticInteractions.py
Labels: Core, Improvement, Testcase, automerge
