Repository espressomd/espresso, pull requests merged in 2020-06, with the labels that each got.

#3743 Update documentation
  doc/doxygen/bibliography.bib
  doc/sphinx/advanced_methods.rst
  doc/sphinx/conf.py.in
  doc/sphinx/constraints.rst
  doc/sphinx/figures/fullerene.png
  doc/sphinx/figures/hbond.fig
  doc/sphinx/figures/hbond.pdf
  doc/sphinx/figures/maggs-charge-assignment.pdf
  doc/sphinx/figures/maggs-initial-scheme.pdf
  doc/sphinx/figures/maggs-rotation.pdf
  doc/sphinx/figures/nacl-rdf.pdf
  doc/sphinx/figures/oif-arealocal.png
  doc/sphinx/figures/oif-bending.png
  doc/sphinx/figures/oif-stretching.png
  doc/sphinx/figures/oif-volcons.png
  doc/sphinx/figures/oif1.png
  doc/sphinx/figures/salt.png
  doc/sphinx/figures/shape-torus.png
  doc/sphinx/installation.rst
  doc/sphinx/inter_bonded.rst
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/introduction.rst
  doc/sphinx/lb.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/visualization.rst
  doc/sphinx/zrefs.bib
  src/core/object-in-fluid/oif_local_forces.hpp
  src/python/espressomd/visualization_opengl.py
Labels: Documentation, ReadyForReview, automerge

#3747 Document BoxGeometry-related functions
  src/core/BoxGeometry.hpp
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/core/grid.hpp
  src/core/unit_tests/grid_test.cpp
Labels: Core, Documentation, Testcase, automerge

#3745 Modernized Readme file
  Readme.md
  doc/sphinx/contributing.rst
  doc/sphinx/introduction.rst
  doc/sphinx/zrefs.bib
Labels: Documentation, automerge

#3751 Store unit system in H5MD file
  .pre-commit-config.yaml
  doc/sphinx/io.rst
  samples/h5md.py
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/h5md/h5md.hpp
  testsuite/python/h5md.py
Labels: Core, New Feature, automerge

#3755 Deduce type of global fields
  src/core/global.cpp
  src/core/global.hpp
Labels: Core, Improvement, automerge

#3756 Remove compensation flag for kinetic pressure contribution
  src/core/Observable_stat.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/event.cpp
  src/core/npt.cpp
  src/core/npt.hpp
  src/core/pressure.cpp
  src/core/pressure.hpp
  src/core/pressure_inline.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
Labels: ApiChange, BugFix, Core, Improvement, automerge

#3757 CMake GPU dependencies inversion
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerHIP.cmake
  cmake/FindCUDACompilerNVCC.cmake
  cmake/option_if_available.cmake
  src/core/CMakeLists.txt
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/integrators/brownian_inline.hpp
Labels: BugFix, CMake, automerge

#3759 Pitchfork layout: rename CMake targets
  cmake/FindCUDACompilerNVCC.cmake
  src/core/CMakeLists.txt
  src/core/unit_tests/CMakeLists.txt
  src/particle_observables/CMakeLists.txt
  src/particle_observables/tests/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/shapes/CMakeLists.txt
  src/shapes/unit_tests/CMakeLists.txt
  src/utils/CMakeLists.txt
  src/utils/tests/CMakeLists.txt
Labels: BugFix, CMake, automerge

#3761 Simplify Observable_stat infrastructure
  src/core/Observable_stat.cpp
  src/core/Observable_stat.hpp
  src/core/cuda_common_cuda.cu
  src/core/energy.cpp
  src/core/energy_inline.hpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/python/espressomd/analyze.pxd
Labels: Core, Improvement, automerge

#3766 Simplify Observable_stat
  src/core/CMakeLists.txt
  src/core/Observable_stat.cpp
  src/core/Observable_stat.hpp
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/cuda_common_cuda.cu
  src/core/cuda_interface.hpp
  src/core/electrostatics_magnetostatics/coulomb.hpp
  src/core/electrostatics_magnetostatics/dipole.hpp
  src/core/energy.cpp
  src/core/energy_inline.hpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/core/reduce_observable_stat.cpp
  src/core/reduce_observable_stat.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
Labels: ApiChange, Core, Improvement, Python, automerge

#3767 Correlator maintainance
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
Labels: Core, Documentation, automerge

#3770 Remove Observable_stat external linkage
  src/core/Observable_stat.cpp
  src/core/Observable_stat.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/cuda_common_cuda.cu
  src/core/cuda_interface.hpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/coulomb.hpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/dipole.hpp
  src/core/energy.cpp
  src/core/energy.hpp
  src/core/energy_inline.hpp
  src/core/pressure.cpp
  src/core/pressure.hpp
  src/core/pressure_inline.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
Labels: Core, Python, automerge

#3775 Update CI images
  .gitlab-ci.yml
  testsuite/python/wang_landau_reaction_ensemble.py
Labels: CI, automerge

#3778 Reaction ensemble sample with complex reaction and analytical solution
  samples/reaction_ensemble.py
  samples/reaction_ensemble_complex_reaction.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_reaction_ensemble_complex_reaction.py
Labels: Documentation, Testcase, automerge

#3779 Reaction ensemble maintainance
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/reaction_ensemble_utils_test.cpp
  src/python/espressomd/reaction_ensemble.pyx
  testsuite/python/CMakeLists.txt
Labels: Core, Testcase, automerge

#3781 Observables and correlators/accumulators maintainance
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  testsuite/python/correlation.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profile.py
  testsuite/python/observable_profileLB.py
  testsuite/python/observables.py
  testsuite/python/polymer_linear.py
  testsuite/python/rdf.py
  testsuite/python/rotation_per_particle.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/time_series.py
Labels: BugFix, Testcase, automerge

#3783 Correlator maintainance
  doc/tutorials/12-constant_pH/12-constant_pH.ipynb
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/python/espressomd/accumulators.py
  testsuite/python/correlation.py
  testsuite/python/time_series.py
Labels: Core, Documentation, Testcase, automerge

#3784 ScaFaCoS maintenance
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/python/espressomd/accumulators.py
  src/python/espressomd/scafacos.pyx
  testsuite/python/analyze_chains.py
  testsuite/python/correlation.py
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/dpd.py
  testsuite/python/field_test.py
  testsuite/python/galilei.py
  testsuite/python/lb_electrohydrodynamics.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/pressure.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/scafacos_dipoles_1d_2d.py
  testsuite/python/test_checkpoint.py
  testsuite/python/widom_insertion.py
Labels: BugFix, Core, Testcase, automerge
