Repository espressomd/espresso, pull requests merged in 2020-12, with the labels that each got.

#4021 Make ACF test deterministic
  testsuite/python/analyze_acf.py
Labels: automerge

#4032 config: Removed feature UMBRELLA
  doc/sphinx/installation.rst
  src/config/features.def
  src/core/bonded_interactions/umbrella.cpp
  src/core/bonded_interactions/umbrella.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
Labels: automerge

#4031 Introduce boost qvm and a Quaternion type
  src/core/Particle.hpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/rotation.cpp
  src/core/rotation.hpp
  src/core/thermostats/brownian_inline.hpp
  src/core/unit_tests/random_test.hpp
  src/core/virtual_sites.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/utils.pxd
  src/shapes/unit_tests/HollowConicalFrustum_test.cpp
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/include/utils/math/quaternion.hpp
  src/utils/include/utils/math/rotation_matrix.hpp
  src/utils/include/utils/math/vec_rotate.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/Vector_test.cpp
  src/utils/tests/interpolation_gradient_test.cpp
  src/utils/tests/quaternion_test.cpp
  src/utils/tests/rotation_matrix_test.cpp
Labels: Core, automerge

#4026 Integrator maintenance
  src/config/config.hpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/dipole_inline.hpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/forces_inline.hpp
  src/core/global.cpp
  src/core/global.hpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/steepest_descent.hpp
  src/core/npt.cpp
  src/core/npt.hpp
  src/core/pressure.cpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/integrate.pxd
  src/python/espressomd/integrate.pyx
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_npt.py
  testsuite/python/integrator_npt_stats.py
  testsuite/python/integrator_steepest_descent.py
  testsuite/python/stokesian_thermostat.py
Labels: BugFix, CodeQuality, Core, Testcase, automerge

#4037 Fix clearing the list of actors
  src/python/espressomd/actors.pyx
  testsuite/python/actor.py
Labels: BugFix, Python, Testcase, automerge

#4039 Matrix type with boost qvm operations
  src/utils/include/utils/matrix.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/matrix_test.cpp
Labels: Core, automerge

#4040 Fix visualizer freezes.
  src/python/espressomd/visualization_opengl.py
Labels: BugFix, Python, automerge

#4044 Remove Travis-CI support
  .travis.yml
  maintainer/CI/build_cmake.sh
  maintainer/CI/build_docker.sh
  maintainer/files_with_header.sh
Labels: DevOps, automerge

#4045 Move to newer GPU runners
  .gitlab-ci.yml
Labels: DevOps, automerge

#4036 Enable two ScaFaCoS instances
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/magnetostatics.rst
  src/core/electrostatics_magnetostatics/CMakeLists.txt
  src/core/electrostatics_magnetostatics/ScafacosContext.cpp
  src/core/electrostatics_magnetostatics/ScafacosContext.hpp
  src/core/electrostatics_magnetostatics/ScafacosContextBase.hpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/coulomb_inline.hpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/electrostatics_magnetostatics/scafacos.hpp
  src/core/event.cpp
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatics.pyx
  src/python/espressomd/scafacos.pxd
  src/python/espressomd/scafacos.pyx
  src/scafacos/Scafacos.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/dipolar_mdlc_p3m_scafacos_p2nfft.py
  testsuite/python/scafacos_dipoles_1d_2d.py
  testsuite/python/scafacos_interface.py
Labels: BugFix, CodeQuality, Core, Improvement, Testcase, automerge

#4035 Improve pair search and cell system
  src/core/AtomDecomposition.cpp
  src/core/AtomDecomposition.hpp
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/DomainDecomposition.cpp
  src/core/DomainDecomposition.hpp
  src/core/ParticleDecomposition.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/integrate.cpp
  src/core/short_range_loop.hpp
  src/core/tuning.cpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  testsuite/python/pairs.py
  testsuite/python/random_pairs.py
Labels: ApiChange, Core, Python, automerge

#4050 Improved error message for type error.
  src/core/particle_data.cpp
  src/python/espressomd/system.pyx
Labels: Core, automerge

#4051 Added check if particles are not in ELC gap region
  doc/sphinx/electrostatics.rst
  doc/sphinx/magnetostatics.rst
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  testsuite/python/dipolar_mdlc_p3m_scafacos_p2nfft.py
  testsuite/python/elc.py
Labels: Core, automerge

#4047 Matrix rollout
  src/core/Particle.hpp
  src/core/dpd.cpp
  src/core/electrostatics_magnetostatics/ScafacosContext.cpp
  src/core/electrostatics_magnetostatics/coulomb_inline.hpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/field_coupling/fields/AffineMap.hpp
  src/core/field_coupling/fields/jacobian_type.hpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/core/rotation.cpp
  src/core/rotation.hpp
  src/core/thermostats/brownian_inline.hpp
  src/core/thermostats/langevin_inline.hpp
  src/core/unit_tests/field_coupling_fields_test.cpp
  src/core/virtual_sites/VirtualSites.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/core/virtual_sites/VirtualSitesRelative.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/rotation_matrix.hpp
  src/utils/include/utils/math/tensor_product.hpp
  src/utils/include/utils/matrix.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/Vector_test.cpp
  src/utils/tests/interpolation_gradient_test.cpp
  src/utils/tests/matrix_test.cpp
  src/utils/tests/rotation_matrix_test.cpp
  src/utils/tests/tensor_product_test.cpp
  testsuite/python/particle_slice.py
  testsuite/python/rotational-diffusion-aniso.py
Labels: BugFix, Core, Improvement, automerge

#4061 Dipolar tests
  doc/sphinx/installation.rst
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/dipole.hpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/data/dipolar_open_boundaries_arrays.npy
  testsuite/python/data/dipolar_open_boundaries_energy.npy
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/dipolar_interface.py
  testsuite/python/dipolar_mdlc_p3m_scafacos_p2nfft.py
  testsuite/python/dipolar_p3m.py
Labels: Core, Testcase, automerge

#4053 Implement setter for particle director.
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  testsuite/python/particle.py
Labels: Core, Python, automerge

#4049 Improve LB interface testing
  doc/sphinx/advanced_methods.rst
  doc/sphinx/lb.rst
  doc/tutorials/active_matter/active_matter.ipynb
  doc/tutorials/active_matter/exercises/flow_field.py
  doc/tutorials/active_matter/exercises/rectification_geometry.py
  doc/tutorials/active_matter/solutions/flow_field.py
  doc/tutorials/active_matter/solutions/rectification_geometry.py
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  samples/ekboundaries.py
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/python/espressomd/electrokinetics.pyx
  src/python/espressomd/lb.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/array_properties.py
  testsuite/python/h5md.py
  testsuite/python/lb.py
  testsuite/python/lb_vtk.py
  testsuite/python/mdanalysis.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/unittest_decorators.py
Labels: ApiChange, BugFix, Core, Python, Testcase, automerge

#4058 Reduce direct use of numerical part id (doc, samples)
  doc/sphinx/analysis.rst
  doc/sphinx/introduction.rst
  doc/sphinx/particles.rst
  doc/sphinx/running.rst
  samples/MDAnalysisIntegration.py
  samples/constraints.py
  samples/gibbs_ensemble_client.py
  samples/h5md.py
  samples/lj_liquid.py
  samples/lj_liquid_distribution.py
  samples/lj_liquid_structurefactor.py
  samples/minimal-charged-particles.py
  samples/minimal-polymer.py
  samples/p3m.py
  samples/reaction_ensemble.py
  samples/save_checkpoint.py
  samples/visualization_bonded.py
  samples/visualization_ljliquid.py
  samples/wang_landau_reaction_ensemble.py
  samples/widom_insertion.py
  src/python/espressomd/particle_data.pyx
  testsuite/python/interactions_bond_angle.py
  testsuite/python/mpiio.py
  testsuite/python/particle.py
  testsuite/python/virtual_sites_relative.py
Labels: BugFix, Improvement, Python, automerge

#4022 pairs by type
  src/python/espressomd/cellsystem.pyx
  testsuite/python/pairs.py
Labels: ApiChange, Core, Python, automerge

#4060 Save particle state in a dict
  src/python/espressomd/particle_data.pyx
  testsuite/python/particle.py
Labels: New Feature, Python, automerge

#4055 Document dependency python-wxGTK for mayavi visualizer.
  doc/sphinx/visualization.rst
Labels: Documentation, automerge

#4064 Guard MMM1D code against segfaults
  src/core/actor/Mmm1dgpuForce.cpp
  src/core/actor/Mmm1dgpuForce.hpp
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/mmm1d.hpp
  src/python/espressomd/electrostatics.pxd
  testsuite/python/CMakeLists.txt
  testsuite/python/mmm1d.py
  testsuite/python/mmm1d_gpu.py
Labels: BugFix, Core, automerge

#4069 core: replaced utils::strcat_alloc with printf
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/mmm1d.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  src/utils/include/utils/strcat_alloc.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/strcat_alloc_test.cpp
  testsuite/python/p3m_tuning_exceptions.py
Labels: BugFix, Core, Improvement, automerge

#4068 Guard against ScaFaCoS fatal errors
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/coulomb.hpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/scafacos.pxd
  src/python/espressomd/scafacos.pyx
  testsuite/python/scafacos_interface.py
Labels: BugFix, Core, Python, automerge

#4070 Coding day wrap up
  AUTHORS
  samples/minimal-polymer.py
  src/core/DomainDecomposition.cpp
  src/core/cells.cpp
  src/python/espressomd/particle_data.pyx
  src/utils/include/utils/quaternion.hpp
  testsuite/python/elc_vs_analytic.py
Labels: CodeQuality, DevOps, automerge

#4072 Refactor CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
  doc/tutorials/convert.py
  maintainer/CI/doc_warnings.sh
  maintainer/CI/dox_warnings.sh
  maintainer/CI/fix_style.sh
  maintainer/add_missing_headers.sh
  maintainer/benchmarks/suite.sh
  maintainer/find_potentially_missing_authors.sh
  maintainer/gh_post.py
  maintainer/gh_post_docs_warnings.py
  maintainer/gh_post_pylint.py
  maintainer/gh_post_status.sh
  maintainer/gh_post_style_patch.py
  maintainer/update_header.sh
  samples/gibbs_ensemble_socket.py
  src/core/particle_data.hpp
  src/python/espressomd/drude_helpers.py
  src/python/espressomd/interactions.pxd
  testsuite/scripts/importlib_wrapper.py
Labels: BugFix, DevOps, automerge
