Repository espressomd/espresso, pull requests merged in 2020-04, with the labels that each got.

#3613 Update espresso-ci scripts
  maintainer/gh_post_docs_warnings.py
  maintainer/gh_post_pylint.py
  maintainer/gh_post_status.sh
  maintainer/gh_post_style_patch.py
Labels: CI, automerge

#3615 Proper memory management for ParticleList
  src/core/CellStructure.cpp
  src/core/Particle.hpp
  src/core/ParticleList.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/communication.cpp
  src/core/domain_decomposition.cpp
  src/core/ghosts.cpp
  src/core/nsquare.cpp
  src/core/serialization/Particle.hpp
  src/core/serialization/ParticleList.hpp
  src/core/unit_tests/Particle_test.cpp
  src/core/unit_tests/link_cell_test.cpp
  src/core/unit_tests/verlet_ia_test.cpp
Labels: Core, Improvement, automerge

#3617 Check_resort: return RESORT_GLOBAL as default
  src/core/cells.cpp
Labels: Core, automerge

#3618 Reduce ParticleIterater's requirements on the underlying particle container
  src/core/CellStructure.hpp
  src/core/ParticleIterator.hpp
  src/core/ParticleRange.hpp
  src/core/unit_tests/ParticleIterator_test.cpp
Labels: Core, Improvement, automerge

#3625 Local particles
  src/core/CellStructure.hpp
  src/core/EspressoSystemInterface.cpp
  src/core/cells.cpp
  src/core/communication.cpp
  src/core/debug.cpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/galilei.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/integrate.cpp
  src/core/particle_data.cpp
  src/core/pressure.cpp
  src/core/rattle.cpp
  src/core/rotate_system.cpp
  src/core/short_range_loop.hpp
  src/core/statistics.cpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
  src/script_interface/constraints/ShapeBasedConstraint.hpp
  src/script_interface/h5md/h5md.cpp
  src/script_interface/mpiio/si_mpiio.hpp
Labels: Core, automerge

#3623 ROCm 3.3 support
  cmake/FindCUDACompiler.cmake
  src/core/cuda_init_cuda.cu
  src/core/curand_wrapper.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
Labels: BugFix, automerge

#3621 Modernize Cell and ParticleList
  src/core/Cell.hpp
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/ParticleList.hpp
  src/core/algorithm/link_cell.hpp
  src/core/algorithm/verlet_ia.hpp
  src/core/cells.cpp
  src/core/domain_decomposition.cpp
  src/core/ghosts.cpp
  src/core/nsquare.cpp
  src/core/particle_data.cpp
  src/core/serialization/ParticleList.hpp
  src/core/unit_tests/link_cell_test.cpp
  src/core/unit_tests/verlet_ia_test.cpp
  src/utils/include/utils/Bag.hpp
  src/utils/tests/Bag_test.cpp
  src/utils/tests/CMakeLists.txt
Labels: Core, Improvement, automerge

#3628 utils: Made List behave correctly on self-assignment.
  src/utils/include/utils/List.hpp
Labels: Core, Improvement, automerge

#3632 script_interface: Avoid uncatched exception in destructor of ScriptIn…
  src/script_interface/ParallelScriptInterface.cpp
Labels: Improvement, ScriptInterface, automerge

#3629 shapes: Fixed SpheroCylinder outside condition.
  src/shapes/src/SpheroCylinder.cpp
Labels: BugFix, Core, automerge

#3631 core: Removed unused file
  src/core/unit_tests/lb-d3q19.cpp
Labels: Core, automerge

#3640 core: Replaced DoubleList by standard containers
  src/core/CMakeLists.txt
  src/core/actor/mmm-common_cuda.hpp
  src/core/electrostatics_magnetostatics/CMakeLists.txt
  src/core/electrostatics_magnetostatics/mmm-common.cpp
  src/core/electrostatics_magnetostatics/mmm-common.hpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/specfunc.cpp
  src/core/electrostatics_magnetostatics/specfunc.hpp
  src/core/polynom.cpp
  src/core/polynom.hpp
  src/utils/include/utils/List.hpp
Labels: Core, Improvement, automerge

#3637 Bond Refactor
  src/core/BondList.hpp
  src/core/CMakeLists.txt
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/Particle.hpp
  src/core/bond_error.cpp
  src/core/bond_error.hpp
  src/core/bonded_interactions/angle_cosine.hpp
  src/core/bonded_interactions/angle_cossquare.hpp
  src/core/bonded_interactions/angle_harmonic.hpp
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/bonded_interactions/dihedral.hpp
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/collision.cpp
  src/core/collision.hpp
  src/core/energy.cpp
  src/core/energy_inline.hpp
  src/core/event.cpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/ghosts.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/immersed_boundary/ImmersedBoundaries.hpp
  src/core/integrate.cpp
  src/core/io/mpiio/mpiio.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/object-in-fluid/oif_global_forces.cpp
  src/core/object-in-fluid/oif_global_forces.hpp
  src/core/pair_criteria/pair_criteria.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/polymer.cpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/core/rattle.cpp
  src/core/rattle.hpp
  src/core/unit_tests/BondList_test.cpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/Particle_test.cpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/visualization_mayavi.pyx
  testsuite/python/mpiio.py
Labels: Core, Improvement, automerge

#3641 Replaced remaining occurences of `Utils::List<int>`
  src/core/Particle.hpp
  src/core/exclusions.cpp
  src/core/exclusions.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/halo.cpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/particle_data.cpp
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/core/unit_tests/Particle_test.cpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/utils.pxd
  src/python/espressomd/utils.pyx
  src/utils/include/utils/List.hpp
Labels: Core, Improvement, automerge

#3644 Removed Utils::List
  src/core/Observable_stat.hpp
  src/core/TabulatedPotential.hpp
  src/core/energy.cpp
  src/core/energy_inline.hpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/particle_data.hpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/core/statistics.cpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/utils.pxd
  src/utils/include/utils/List.hpp
  src/utils/include/utils/serialization/List.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/List_test.cpp
Labels: Core, Improvement, automerge

#3642 Update CI images
  .gitlab-ci.yml
  .travis.yml
  doc/sphinx/conf.py.in
  maintainer/CI/build_docker.sh
  requirements.txt
  src/python/espressomd/accumulators.py
  src/python/espressomd/constraints.py
  src/python/espressomd/drude_helpers.py
Labels: CI, Documentation, automerge

#3653 Clang format
  maintainer/format/autopep8.sh
  maintainer/format/clang-format.sh
  maintainer/format/cmake-format.sh
  maintainer/format/ex_flag.sh
Labels: BugFix, CI, automerge

#3652 CI: Remove osx cuda job
  .gitlab-ci.yml
Labels: CI, automerge

#3659 Add support for Sphinx 3.0.x and use CUDA 10 docker image with ffmpeg
  .gitlab-ci.yml
  src/python/espressomd/system.pyx
Labels: CI, automerge

#3665 core: Removed subt_lj bond type
  doc/sphinx/inter_bonded.rst
  src/core/bonded_interactions/CMakeLists.txt
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/subt_lj.cpp
  src/core/bonded_interactions/subt_lj.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/subt_lj.py
Labels: Core, automerge

#3608 Add Observable edges
  doc/sphinx/analysis.rst
  samples/lb_profile.py
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/ProfileObservable.hpp
  src/python/espressomd/observables.py
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
  src/script_interface/observables/ProfileObservable.hpp
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profile.py
  testsuite/python/observable_profileLB.py
  testsuite/python/tests_common.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_lb_profile.py
Labels: Core, ScriptInterface, automerge

#3582 Refactor CMake logic for the CUDA compiler
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/FindCUDACompiler.cmake
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerHIP.cmake
  cmake/FindCUDACompilerNVCC.cmake
  cmake/FindPythonHeaders.cmake
  cmake/MyConfig.cmake
  cmake/option_enum.cmake
  cmake/unit_test.cmake
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  maintainer/CI/build_docker.sh
  src/core/CMakeLists.txt
  src/core/cluster_analysis/CMakeLists.txt
  src/core/io/mpiio/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/scafacos/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/shapes/CMakeLists.txt
  src/utils/CMakeLists.txt
Labels: ApiChange, CMake, automerge

#3673 Update documentation and clarify ambiguities
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/io.rst
  doc/sphinx/system_setup.rst
  doc/tutorials/02-charged_system/02-charged_system-2.ipynb
  doc/tutorials/02-charged_system/scripts/nacl_units.py
  doc/tutorials/02-charged_system/scripts/nacl_units_vis.py
  samples/visualization_cellsystem.py
  samples/visualization_charged.py
Labels: Documentation, automerge

#3434 P3M interpolation cleanup
  maintainer/benchmarks/p3m.py
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/electrostatics_magnetostatics/fft.hpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/core/electrostatics_magnetostatics/p3m_interpolation.hpp
  src/core/electrostatics_magnetostatics/p3m_send_mesh.cpp
  src/core/electrostatics_magnetostatics/p3m_send_mesh.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  src/python/espressomd/p3m_common.pxd
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/integral_parameter.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/integral_parameter_test.cpp
  testsuite/python/analyze_energy.py
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/electrostaticInteractions.py
Labels: ApiChange, Core, Python, automerge

#3676 Fix failing CI
  maintainer/CI/fix_style.sh
  maintainer/gh_post_style_patch.py
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatics.pyx
  testsuite/scripts/samples/test_lb_profile.py
Labels: BugFix, CI, automerge

#3677 All_compare test: Expect "true" on single process
  src/utils/tests/all_compare_test.cpp
Labels: BugFix, Core, automerge

#3678 LBCPU: Fix rounding issue for grid size calculation
  src/core/grid_based_algorithms/lattice.cpp
  testsuite/python/lb.py
Labels: BugFix, Core, automerge

#3681 Removed elc `on_resort_particles`
  src/core/cells.cpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/coulomb.hpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/elc.hpp
  src/core/event.cpp
  src/core/event.hpp
Labels: Core, Improvement, automerge

#3687 Simplify CI and bump version requirements
  .gitlab-ci.yml
  .travis.yml
  CMakeLists.txt
  doc/doxygen/Doxyfile.in
  doc/sphinx/conf.py.in
  doc/sphinx/installation.rst
  doc/sphinx/zrefs.bib
  maintainer/CI/build_cmake.sh
  maintainer/CI/dox_warnings.py
  maintainer/CI/dox_warnings.sh
  requirements.txt
  src/core/BondList.hpp
  src/core/CellStructure.hpp
  src/core/communication.hpp
  src/core/domain_decomposition.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/python/espressomd/constraints.py
  src/python/espressomd/particle_data.pyx
  src/utils/include/utils/demangle.hpp
  src/utils/include/utils/mask.hpp
  src/utils/include/utils/serialization/array.hpp
Labels: CI, Documentation, Improvement, automerge

#3689 Fix maximal allowed skin calculation in `tune_skin`
  src/core/tuning.cpp
Labels: BugFix, Core, automerge

#3690 Removed remaining globals from ghosts
  src/core/cells.cpp
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/core/ghosts.cpp
  src/core/ghosts.hpp
  src/core/nsquare.cpp
  src/core/nsquare.hpp
Labels: Core, Improvement, automerge

#3692 Update ghosts via CellStructure
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/cells.cpp
  src/core/collision.cpp
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/event.cpp
  src/core/event.hpp
  src/core/forces.cpp
  src/core/ghosts.cpp
  src/core/integrate.cpp
  src/core/nsquare.cpp
  src/core/nsquare.hpp
  src/core/rattle.cpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
Labels: Core, Improvement, automerge

#3693 Removed dependence of cells on head node code
  src/core/cells.cpp
  src/core/communication.cpp
  src/core/event.cpp
  src/core/grid.cpp
Labels: Core, Improvement, automerge

#3696 Removed communication and geometry globals from domain decomposition
  src/core/BoxGeometry.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/core/event.cpp
  src/core/grid.hpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/python/espressomd/cellsystem.pxd
  src/utils/include/utils/mpi/cart_comm.hpp
Labels: Core, Improvement, automerge
