Repository espressomd/espresso, pull requests merged in 2020-03, with the labels that each got.

#3545 Modernize GPU particle comm
  src/core/CMakeLists.txt
  src/core/CudaDeviceAllocator.hpp
  src/core/CudaHostAllocator.cu
  src/core/CudaHostAllocator.hpp
  src/core/EspressoSystemInterface.cpp
  src/core/EspressoSystemInterface.hpp
  src/core/EspressoSystemInterface_cuda.cu
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/cuda_common_cuda.cu
  src/core/cuda_interface.cpp
  src/core/cuda_interface.hpp
  src/core/cuda_wrapper.hpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/event.cpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
  src/utils/include/utils/mpi/gather_buffer.hpp
Labels: automerge

#3547 Removed n_part global
  src/core/collision.cpp
  src/core/communication.cpp
  src/core/debug.cpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/integrate.cpp
  src/core/io/mpiio/mpiio.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/globals.pxd
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/script_interface/h5md/h5md.cpp
Labels: automerge

#3551 Improved visualization
  doc/sphinx/figures/shape-conical_frustum.png
  doc/sphinx/figures/shape-simplepore.png
  doc/sphinx/visualization.rst
  src/python/espressomd/visualization_opengl.pyx
Labels: automerge

#3556 core: particle_data: Removed SHANCHEN left-over
  src/core/particle_data.cpp
Labels: automerge

#3557 Cmake cleanup
  src/core/CMakeLists.txt
  src/core/accumulators/CMakeLists.txt
  src/core/actor/CMakeLists.txt
  src/core/bonded_interactions/CMakeLists.txt
  src/core/constraints/CMakeLists.txt
  src/core/electrostatics_magnetostatics/CMakeLists.txt
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/immersed_boundary/CMakeLists.txt
  src/core/integrators/CMakeLists.txt
  src/core/io/CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
  src/core/nonbonded_interactions/CMakeLists.txt
  src/core/object-in-fluid/CMakeLists.txt
  src/core/observables/CMakeLists.txt
  src/core/virtual_sites/CMakeLists.txt
Labels: automerge

#3541 LB function signature
  doc/sphinx/lb.rst
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/python/espressomd/lb.pxd
Labels: automerge

#3559 Rotation params
  samples/visualization_constraints.py
  src/shapes/unit_tests/CMakeLists.txt
  src/shapes/unit_tests/HollowConicalFrustum_test.cpp
  src/utils/include/utils/math/vec_rotate.hpp
  src/utils/tests/vec_rotate_test.cpp
Labels: automerge

#3562 Cell modernization
  src/core/EspressoSystemInterface.cpp
  src/core/ParticleIterator.hpp
  src/core/ParticleList.hpp
  src/core/algorithm/link_cell.hpp
  src/core/algorithm/verlet_ia.hpp
  src/core/cells.cpp
  src/core/collision.cpp
  src/core/cuda_common_cuda.cu
  src/core/cuda_init.cpp
  src/core/cuda_init_cuda.cu
  src/core/debug.cpp
  src/core/debug.hpp
  src/core/domain_decomposition.cpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/forces.cpp
  src/core/ghosts.cpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/nsquare.cpp
  src/core/particle_data.cpp
  src/core/pressure.cpp
  src/core/short_range_loop.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/ParticleIterator_test.cpp
  src/core/unit_tests/mock/Cell.hpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
Labels: Core, Improvement, automerge

#3563 maintainer: Removed metadynamics
  doc/sphinx/installation.rst
  doc/sphinx/introduction.rst
  maintainer/configs/maxset.hpp
  src/config/features.def
  src/core/CMakeLists.txt
  src/core/event.cpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/metadynamics.cpp
  src/core/metadynamics.hpp
Labels: Core, automerge

#3560 Reshape output of Observables
  doc/sphinx/analysis.rst
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/observables/BondAngles.hpp
  src/core/observables/BondDihedrals.hpp
  src/core/observables/ComPosition.hpp
  src/core/observables/ComVelocity.hpp
  src/core/observables/CosPersistenceAngles.hpp
  src/core/observables/Current.hpp
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfile.hpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.hpp
  src/core/observables/CylindricalProfile.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/core/observables/DPDStress.hpp
  src/core/observables/DensityProfile.hpp
  src/core/observables/DipoleMoment.hpp
  src/core/observables/FluxDensityProfile.hpp
  src/core/observables/ForceDensityProfile.hpp
  src/core/observables/LBFluidStress.hpp
  src/core/observables/LBVelocityProfile.cpp
  src/core/observables/LBVelocityProfile.hpp
  src/core/observables/MagneticDipoleMoment.hpp
  src/core/observables/Observable.hpp
  src/core/observables/ParticleAngularVelocities.hpp
  src/core/observables/ParticleBodyAngularVelocities.hpp
  src/core/observables/ParticleBodyVelocities.hpp
  src/core/observables/ParticleDistances.hpp
  src/core/observables/ParticleForces.hpp
  src/core/observables/ParticlePositions.hpp
  src/core/observables/ParticleVelocities.hpp
  src/core/observables/PidProfileObservable.hpp
  src/core/observables/ProfileObservable.hpp
  src/core/observables/StressTensor.hpp
  src/core/observables/TotalForce.hpp
  src/python/espressomd/observables.py
  src/script_interface/Variant.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/Observable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
  src/script_interface/observables/ProfileObservable.hpp
  src/utils/include/utils/sampling.hpp
  testsuite/python/lb.py
  testsuite/python/observable_chain.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profile.py
  testsuite/python/observable_profileLB.py
  testsuite/python/observables.py
  testsuite/python/stress.py
Labels: ApiChange, Core, Documentation, Improvement, automerge

#3564 Virtual Sites Cleanup
  doc/sphinx/particles.rst
  doc/tutorials/05-raspberry_electrophoresis/05-raspberry_electrophoresis.ipynb
  samples/drude_bmimpf6.py
  samples/rigid_body.py
  src/core/event.cpp
  src/core/ghosts.cpp
  src/core/integrate.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/core/virtual_sites.hpp
  src/core/virtual_sites/VirtualSites.hpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.hpp
  src/core/virtual_sites/VirtualSitesOff.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/core/virtual_sites/VirtualSitesRelative.hpp
  src/python/espressomd/virtual_sites.py
  src/script_interface/virtual_sites/VirtualSites.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/tests/Vector_test.cpp
  testsuite/python/save_checkpoint.py
  testsuite/python/virtual_sites_relative.py
  testsuite/python/virtual_sites_tracers_common.py
Labels: ApiChange, Core, Improvement, automerge

#3567 Cleanup and restructure documentation, fix errors
  doc/sphinx/advanced_methods.rst
  doc/sphinx/constraints.rst
  doc/sphinx/installation.rst
  doc/sphinx/inter_bonded.rst
  doc/sphinx/io.rst
  doc/tutorials/06-active_matter/06-active_matter.ipynb
  doc/tutorials/06-active_matter/CMakeLists.txt
  doc/tutorials/06-active_matter/exercises/enhanced_diffusion.py
  doc/tutorials/06-active_matter/exercises/flow_field.py
  doc/tutorials/06-active_matter/exercises/rectification_geometry.py
  doc/tutorials/06-active_matter/exercises/rectification_simulation.py
  doc/tutorials/06-active_matter/figures/enhanced.pdf
  doc/tutorials/06-active_matter/figures/enhanced.svg
  doc/tutorials/06-active_matter/figures/flow_field.pdf
  doc/tutorials/06-active_matter/figures/flow_field.svg
  doc/tutorials/06-active_matter/figures/friction.pdf
  doc/tutorials/06-active_matter/figures/friction.svg
  doc/tutorials/06-active_matter/figures/friction.tex
  doc/tutorials/06-active_matter/figures/geometry.pdf
  doc/tutorials/06-active_matter/figures/geometry.svg
  doc/tutorials/06-active_matter/figures/geometry.tex
  doc/tutorials/06-active_matter/figures/pusher-puller.pdf
  doc/tutorials/06-active_matter/figures/pusher-puller.svg
  doc/tutorials/06-active_matter/figures/pusher-puller.tex
  doc/tutorials/06-active_matter/figures/rectification.pdf
  doc/tutorials/06-active_matter/figures/rectification.svg
  doc/tutorials/06-active_matter/figures/rectify.pdf
  doc/tutorials/06-active_matter/figures/rectify.svg
  doc/tutorials/06-active_matter/solutions/enhanced_diffusion.py
  doc/tutorials/06-active_matter/solutions/flow_field.py
  doc/tutorials/06-active_matter/solutions/rectification_geometry.py
  doc/tutorials/06-active_matter/solutions/rectification_simulation.py
  doc/tutorials/06-active_matter/solutions/solutions.txt
  src/python/espressomd/accumulators.py
  src/python/espressomd/cluster_analysis.py
  src/python/espressomd/io/mpiio.py
  src/python/espressomd/pair_criteria.py
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/polymer.pyx
  src/python/espressomd/shapes.py
  src/python/espressomd/utils.pyx
  testsuite/scripts/tutorials/test_06-active_matter__enhanced_diffusion.py
  testsuite/scripts/tutorials/test_06-active_matter__flow_field.py
  testsuite/scripts/tutorials/test_06-active_matter__rectification_geometry.py
  testsuite/scripts/tutorials/test_06-active_matter__rectification_simulation.py
Labels: Documentation, automerge

#3568 Fix deprecation warning from collections.abc
  src/python/espressomd/particle_data.pyx
Labels: BugFix, Python, automerge

#3569 Update shapes docs and fix typos
  doc/sphinx/constraints.rst
  src/core/cells.hpp
  src/core/integrators/brownian_inline.hpp
  src/core/particle_data.cpp
  src/core/unit_tests/random_test.hpp
  src/python/espressomd/observables.py
  src/python/espressomd/polymer.pyx
  src/utils/include/utils/math/quaternion.hpp
  src/utils/include/utils/math/triangle_functions.hpp
  src/utils/include/utils/serialization/memcpy_archive.hpp
  src/utils/include/utils/type_traits.hpp
  src/utils/tests/triangle_functions_test.cpp
Labels: Documentation, automerge

#3570 Parametric weight function for DPD....
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/zrefs.bib
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  testsuite/python/dpd.py
Labels: ApiChange, Core, Improvement, automerge

#3572 Calculate maximal cutoff on demand
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/cells.cpp
  src/core/event.cpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/tuning.cpp
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
  src/python/espressomd/system.pyx
Labels: Core, Improvement, automerge

#3574 Refactor CMake package inclusion
  CMakeLists.txt
  cmake/FindCUDA.cmake
  cmake/FindCUDA/make2cmake.cmake
  cmake/FindCUDA/parse_cubin.cmake
  cmake/FindCUDA/run_nvcc.cmake
  cmake/FindCUDA/select_compute_arch.cmake
  cmake/FindCUDACompiler.cmake
  cmake/FindClangTidy.cmake
  cmake/FindCython.cmake
  cmake/FindNumPy.cmake
  cmake/FindPythonHeaders.cmake
  maintainer/CI/build_cmake.sh
  src/python/espressomd/CMakeLists.txt
Labels: BugFix, CMake, automerge

#3579 maintainer: remove unused parts of pull request template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerge

#3578 Fix returned array shape for accumulator
  src/core/accumulators/MeanVarianceCalculator.hpp
  src/core/accumulators/TimeSeries.hpp
  src/python/espressomd/accumulators.py
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
  testsuite/python/accumulator.py
  testsuite/python/brownian_dynamics.py
  testsuite/python/langevin_thermostat.py
  testsuite/python/test_checkpoint.py
  testsuite/python/time_series.py
Labels: ApiChange, Python, automerge

#3583 Split local particle index from rest of particle data
  src/core/CMakeLists.txt
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/cells.cpp
  src/core/collision.cpp
  src/core/communication.cpp
  src/core/debug.cpp
  src/core/domain_decomposition.cpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  src/core/energy_inline.hpp
  src/core/exclusions.cpp
  src/core/exclusions.hpp
  src/core/forces_inline.hpp
  src/core/ghosts.cpp
  src/core/global.cpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/io/mpiio/mpiio.cpp
  src/core/nsquare.cpp
  src/core/object-in-fluid/oif_global_forces.cpp
  src/core/pair_criteria/pair_criteria.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/particle_index.cpp
  src/core/particle_index.hpp
  src/core/pressure_inline.hpp
  src/core/rattle.cpp
Labels: Core, Improvement, automerge

#3575 Visualizer cleanup
  doc/sphinx/visualization.rst
  doc/tutorials/02-charged_system/scripts/nacl_units_confined_vis.py
  doc/tutorials/02-charged_system/scripts/nacl_units_vis.py
  samples/billiard.py
  samples/chamber_game.py
  samples/visualization_interactive.py
  src/python/espressomd/visualization_opengl.py
Labels: Python, automerge

#3584 virtual sites: Missing import
  src/core/virtual_sites/VirtualSitesRelative.cpp
Labels: automerge

#3586 Refactor Analysis module: distance functions
  doc/sphinx/analysis.rst
  doc/tutorials/08-visualization/08-visualization.ipynb
  samples/chamber_game.py
  samples/lj-demo.py
  samples/lj_liquid.py
  samples/lj_liquid_structurefactor.py
  samples/p3m.py
  samples/visualization_ljliquid.py
  src/core/observables/PidProfileObservable.hpp
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/system.pxd
  src/python/espressomd/system.pyx
  src/python/espressomd/visualization_opengl.py
  testsuite/python/analyze_distance.py
  testsuite/python/analyze_distribution.py
  testsuite/python/rdf.py
Labels: BugFix, Core, automerge

#3588 Update CI images
  .gitlab-ci.yml
Labels: CI, automerge

#3589 Moved particle index into CellStructure
  src/core/CMakeLists.txt
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/PartCfg.hpp
  src/core/ParticleList.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/collision.cpp
  src/core/communication.cpp
  src/core/debug.cpp
  src/core/debug.hpp
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/core/energy_inline.hpp
  src/core/event.cpp
  src/core/forces_inline.hpp
  src/core/ghosts.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/io/mpiio/mpiio.cpp
  src/core/nsquare.cpp
  src/core/nsquare.hpp
  src/core/object-in-fluid/oif_global_forces.cpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/particle_index.cpp
  src/core/particle_index.hpp
  src/core/pressure_inline.hpp
  src/core/rattle.cpp
  src/core/rotate_system.cpp
  src/core/short_range_loop.hpp
  src/core/virtual_sites.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
Labels: Core, Improvement, automerge

#3595 Improve performance of particle updates
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/particle_data.cpp
Labels: Core, Improvement, automerge

#3598 Py: Generate ids for bulk particle creation more efficiently
  src/python/espressomd/particle_data.pyx
Labels: Improvement, Python, automerge

#3593 Fix LBGPU velocity interpolation close to boundary
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/python/espressomd/visualization_opengl.py
  testsuite/python/lb_interpolation.py
Labels: BugFix, Core, automerge

#3604 Conditionally define SKIP_MPICXX macros
  src/config/config.hpp
Labels: automerge

#3607 Core: Fix LB profile observable
  src/core/observables/LBProfileObservable.hpp
  testsuite/python/observable_profileLB.py
Labels: BugFix, Core, automerge

#3614 core: Removed unused Particle::flat_copy
  src/core/Particle.hpp
Labels: Core, automerge
