Repository espressomd/espresso, pull requests merged in 2020-05, with the labels that each got.

#3698 Factored out atom decomposition
  doc/doxygen/bibliography.bib
  src/core/AtomDecomposition.cpp
  src/core/AtomDecomposition.hpp
  src/core/CMakeLists.txt
  src/core/cells.cpp
  src/core/nsquare.cpp
  src/core/nsquare.hpp
Labels: Core, Improvement, automerge

#3701 Removed CellSystem.max_num_cells and CellSystem.min_num_cells
  doc/sphinx/system_setup.rst
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  testsuite/python/domain_decomposition.py
  testsuite/python/pairs.py
Labels: ApiChange, Core, Python, automerge

#3702 Core: Apply rotational thermostat only to particles with rotational DOF
  src/core/forces_inline.hpp
Labels: Core, Improvement, automerge

#3708 Replace macros in Shapes::Rhomboid
  .clang-tidy
  src/core/actor/DipolarDirectSum_cuda.cu
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/thermostat.cpp
  src/script_interface/observables/ParamlessObservable.hpp
  src/shapes/src/Rhomboid.cpp
  src/utils/tests/quaternion_test.cpp
Labels: Core, automerge

#3710 Make h5md a private target source
  src/core/io/writer/CMakeLists.txt
Labels: CMake, automerge

#3712 Refactor Observable_stat framework
  src/core/AtomDecomposition.hpp
  src/core/CMakeLists.txt
  src/core/Observable_stat.cpp
  src/core/Observable_stat.hpp
  src/core/actor/ActorList.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/constraints/Constraint.hpp
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/constraints/ShapeBasedConstraint.hpp
  src/core/cuda_common_cuda.cu
  src/core/cuda_interface.cpp
  src/core/cuda_interface.hpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/coulomb.hpp
  src/core/electrostatics_magnetostatics/coulomb_inline.hpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/dipole.hpp
  src/core/electrostatics_magnetostatics/dipole_inline.hpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/energy.cpp
  src/core/energy.hpp
  src/core/energy_inline.hpp
  src/core/event.cpp
  src/core/event.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/observables/StressTensor.hpp
  src/core/pressure.cpp
  src/core/pressure.hpp
  src/core/pressure_inline.hpp
  src/core/reaction_ensemble.cpp
  src/core/short_range_loop.hpp
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/core/virtual_sites.cpp
  src/core/virtual_sites.hpp
  src/core/virtual_sites/VirtualSites.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/utils.pxd
  src/python/espressomd/utils.pyx
  testsuite/python/analyze_energy.py
Labels: ApiChange, Core, Documentation, Improvement, automerge

#3715 core: p3m: Assert that interpolation is inside the local mesh patch.
  src/core/electrostatics_magnetostatics/p3m_interpolation.hpp
Labels: Core, Improvement, automerge

#3717 core: Reinit longrange stuff on manual cutoff or skin change
  src/core/event.cpp
Labels: BugFix, Core, automerge

#3706 Refactor RDF as an observable
  doc/sphinx/advanced_methods.rst
  doc/sphinx/analysis.rst
  doc/sphinx/visualization.rst
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/02-charged_system/02-charged_system-1.ipynb
  doc/tutorials/02-charged_system/scripts/nacl.py
  doc/tutorials/02-charged_system/scripts/nacl_units.py
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  samples/drude_bmimpf6.py
  src/core/observables/CMakeLists.txt
  src/core/observables/PidObservable.cpp
  src/core/observables/RDF.cpp
  src/core/observables/RDF.hpp
  src/core/observables/fetch_particles.hpp
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/observables.py
  src/script_interface/observables/RDF.hpp
  src/script_interface/observables/initialize.cpp
  src/utils/include/utils/for_each_pair.hpp
  src/utils/tests/for_each_pair_test.cpp
  testsuite/python/analyze_distribution.py
  testsuite/python/rdf.py
  testsuite/scripts/tutorials/test_01-lennard_jones.py
Labels: ApiChange, Core, Documentation, automerge

#3720 Fix OpenGL visualization of Slitpore
  doc/sphinx/constraints.rst
  src/python/espressomd/visualization_opengl.py
Labels: BugFix, Documentation, automerge

#3721 Removed some code duplication from ELC
  src/core/electrostatics_magnetostatics/coulomb_inline.hpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/elc.hpp
Labels: Core, Improvement, automerge

#3725 Fix Variant bug in pack_pair()
  src/script_interface/Variant.hpp
Labels: BugFix, automerge

#3727 core: Trigger force re-calc if particles are changed.
  src/core/cells.cpp
  src/core/event.cpp
  src/core/event.hpp
Labels: BugFix, Core, automerge

#3728 Shapes maintenance
  doc/sphinx/constraints.rst
  doc/sphinx/figures/slitpore.pdf
  doc/sphinx/figures/slitpore.png
  doc/sphinx/figures/slitpore.svg
  samples/visualization_constraints.py
  src/python/espressomd/shapes.py
  src/python/espressomd/visualization_opengl.py
  src/shapes/src/Torus.cpp
  testsuite/python/constraint_shape_based.py
  testsuite/scripts/samples/CMakeLists.txt
Labels: BugFix, Documentation, Testcase, automerge

#3731 missing coulomb prefactors in ELCIC
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  testsuite/python/elc_vs_analytic.py
Labels: BugFix, Core, automerge

#3730 Remove Stomatocyte shape
  doc/sphinx/constraints.rst
  doc/sphinx/figures/shape-stomatocyte1.png
  doc/sphinx/figures/shape-stomatocyte2.png
  samples/visualization_constraints.py
  src/python/espressomd/shapes.py
  src/script_interface/shapes/Stomatocyte.hpp
  src/script_interface/shapes/initialize.cpp
  src/shapes/CMakeLists.txt
  src/shapes/include/shapes/Stomatocyte.hpp
  src/shapes/src/Stomatocyte.cpp
  testsuite/scripts/samples/CMakeLists.txt
Labels: ApiChange, automerge

#3732 Update installation instruction for mac
  .gitignore
  doc/sphinx/installation.rst
Labels: Documentation, automerge

#3733 Fixup for the elc testcase
  testsuite/python/elc_vs_analytic.py
Labels: automerge

#3735 Build system: fail when explicitly requested optional dependencies are not found
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/option_if_available.cmake
  maintainer/CI/build_cmake.sh
  maintainer/CI/build_docker.sh
Labels: ApiChange, CMake, automerge

#3736 Remove FindPythonModule
  CMakeLists.txt
  cmake/FindPythonModule.cmake
  testsuite/python/CMakeLists.txt
  testsuite/python/h5md.py
Labels: CMake, automerge

#3738 Remove more globals
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
  src/python/espressomd/reaction_ensemble.pxd
Labels: Core, automerge

#3667 Generic observables
  src/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/exclusions.cpp
  src/core/integrate.cpp
  src/core/observables/BondAngles.hpp
  src/core/observables/BondDihedrals.hpp
  src/core/observables/ComPosition.hpp
  src/core/observables/ComVelocity.hpp
  src/core/observables/CosPersistenceAngles.hpp
  src/core/observables/Current.hpp
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.hpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/core/observables/DensityProfile.hpp
  src/core/observables/DipoleMoment.hpp
  src/core/observables/FluxDensityProfile.hpp
  src/core/observables/ForceDensityProfile.hpp
  src/core/observables/MagneticDipoleMoment.hpp
  src/core/observables/ParticleAngularVelocities.hpp
  src/core/observables/ParticleBodyAngularVelocities.hpp
  src/core/observables/ParticleBodyVelocities.hpp
  src/core/observables/ParticleDistances.hpp
  src/core/observables/ParticleForces.hpp
  src/core/observables/ParticlePositions.hpp
  src/core/observables/ParticleTraits.hpp
  src/core/observables/ParticleVelocities.hpp
  src/core/observables/PidObservable.cpp
  src/core/observables/PidObservable.hpp
  src/core/observables/TotalForce.hpp
  src/core/unit_tests/ParticleIterator_test.cpp
  src/particle_observables/CMakeLists.txt
  src/particle_observables/include/particle_observables/algorithms.hpp
  src/particle_observables/include/particle_observables/observable.hpp
  src/particle_observables/include/particle_observables/properties.hpp
  src/particle_observables/tests/CMakeLists.txt
  src/particle_observables/tests/algorithms.cpp
  src/particle_observables/tests/mock.hpp
  src/particle_observables/tests/observables.cpp
  src/particle_observables/tests/properties.cpp
  src/utils/include/utils/flatten.hpp
  src/utils/tests/Array_test.cpp
  src/utils/tests/Bag_test.cpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/abs_test.cpp
  src/utils/tests/flatten_test.cpp
  src/utils/tests/integral_parameter_test.cpp
  src/utils/tests/raster_test.cpp
  src/utils/tests/rotation_matrix_test.cpp
  src/utils/tests/tuple_test.cpp
  testsuite/python/observables.py
Labels: automerge

#3740 Cleanup myconfig features
  doc/sphinx/installation.rst
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/introduction.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/visualization.rst
  maintainer/configs/maxset.hpp
  samples/dpd.py
  src/config/featuredefs.py
  src/config/features.def
  src/config/gen_sampleconfig.py
  src/config/myconfig-default.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
Labels: Documentation, automerge

#3741 utils: Removed redundant inline
  src/utils/include/utils/Vector.hpp
Labels: Core, automerge
