Repository espressomd/espresso, pull requests merged in 2021-08, with the labels that each got.

#4174 Add error analysis tutorial
  doc/sphinx/introduction.rst
  doc/tutorials/CMakeLists.txt
  doc/tutorials/Readme.md
  doc/tutorials/error_analysis/CMakeLists.txt
  doc/tutorials/error_analysis/NotesForTutor.md
  doc/tutorials/error_analysis/error_analysis_part1.ipynb
  doc/tutorials/error_analysis/error_analysis_part2.ipynb
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_error_analysis_part1.py
  testsuite/scripts/tutorials/test_error_analysis_part2.py
Labels: automerge

#4318 Improve support for fast-math mode
  .gitlab-ci.yml
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  src/core/algorithm/periodic_fold.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/unit_tests/field_coupling_fields_test.cpp
  src/core/unit_tests/periodic_fold_test.cpp
  src/utils/include/utils/checks/charge_neutrality.hpp
  testsuite/python/accumulator_correlator.py
  testsuite/python/dpd.py
  testsuite/python/galilei.py
  testsuite/python/lb_interpolation.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
Labels: Core, DevOps, automerge

#4323 Remove Observable_stat global variables
  src/core/CMakeLists.txt
  src/core/Observable_stat.cpp
  src/core/Observable_stat.hpp
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/energy.cpp
  src/core/energy.hpp
  src/core/pressure.cpp
  src/core/pressure.hpp
  src/core/pressure_inline.hpp
  src/core/reduce_observable_stat.cpp
  src/core/reduce_observable_stat.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
Labels: Python, Core, Improvement, automerge

#4325 Set hidden particle type in Reaction Methods scripts
  samples/grand_canonical.py
  samples/reaction_ensemble.py
  samples/reaction_ensemble_complex_reaction.py
  samples/widom_insertion.py
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/widom_insertion.py
Labels: Python, CodingDay, automerge

#4327 Make ekin immutable and disable ekin checkpointing
  src/core/grid_based_algorithms/electrokinetics.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/python/espressomd/electrokinetics.pxd
  src/python/espressomd/electrokinetics.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_charged_plate.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: Core, BugFix, automerge

#4302 Update LJ tutorial
  doc/tutorials/lennard_jones/CMakeLists.txt
  doc/tutorials/lennard_jones/figures/lennard-jones-potential.png
  doc/tutorials/lennard_jones/lennard_jones.ipynb
Labels: Documentation, automerge

#4329 Improve Langevin tutorial
  doc/tutorials/CMakeLists.txt
  doc/tutorials/Readme.md
  doc/tutorials/langevin_dynamics/CMakeLists.txt
  doc/tutorials/langevin_dynamics/NotesForTutor.md
  doc/tutorials/langevin_dynamics/langevin_dynamics.ipynb
  doc/tutorials/lattice_boltzmann/CMakeLists.txt
  doc/tutorials/lattice_boltzmann/NotesForTutor.md
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part2.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_poiseuille_flow.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_theory.ipynb
  doc/tutorials/polymers/CMakeLists.txt
  doc/tutorials/polymers/NotesForTutor.md
  doc/tutorials/polymers/polymers.ipynb
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_langevin_dynamics.py
  testsuite/scripts/tutorials/test_lattice_boltzmann_poiseuille_flow.py
  testsuite/scripts/tutorials/test_polymers.py
Labels: Documentation, automerge

#4334 Fix broken CI
  .gitlab-ci.yml
Labels: DevOps, automerge

#4052 Split LB tutorial and create polymers and Langevin simulation tutorial
  doc/tutorials/langevin_dynamics/langevin_dynamics.ipynb
  doc/tutorials/lattice_boltzmann/NotesForTutor.md
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_poiseuille_flow.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_theory.ipynb
  doc/tutorials/polymers/NotesForTutor.md
  doc/tutorials/polymers/polymers.ipynb
Labels: Documentation, automerge

#4336 Rewrite histograms as multi-dimensional arrays
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/core/observables/DensityProfile.hpp
  src/core/observables/FluxDensityProfile.hpp
  src/core/observables/ForceDensityProfile.hpp
  src/core/observables/LBVelocityProfile.cpp
  src/utils/include/utils/Histogram.hpp
  src/utils/include/utils/index.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/histogram.cpp
  src/utils/tests/index_test.cpp
  src/utils/tests/sampling_test.cpp
Labels: Core, Improvement, automerge

#4337 Documentation maintenance
  doc/sphinx/CMakeLists.txt
  doc/sphinx/_static/blockquotes.css
  doc/sphinx/advanced_methods.rst
  doc/sphinx/analysis.rst
  doc/sphinx/conf.py.in
  doc/sphinx/constraints.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/io.rst
  doc/sphinx/lb.rst
  doc/sphinx/magnetostatics.rst
  doc/sphinx/particles.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/visualization.rst
  doc/tutorials/active_matter/active_matter.ipynb
  requirements.txt
  src/python/espressomd/accumulators.py
  src/python/espressomd/electrostatics.pyx
Labels: Documentation, automerge

#4333 Add non-bonded loop trace function
  src/core/cells.cpp
  src/core/cells.hpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  testsuite/python/random_pairs.py
  testsuite/python/tests_common.py
Labels: Python, Core, automerge
