Repository espressomd/espresso, pull requests merged in 2021-01, with the labels that each got.

#4080 Central chapter for thermostats and integrators
  doc/sphinx/advanced_methods.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/introduction.rst
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
  doc/tutorials/charged_system/charged_system-1.ipynb
Labels: Documentation, automerge

#4073 Improve testing of Utils functions
  src/utils/include/utils/Accumulator.hpp
  src/utils/include/utils/math/bspline.hpp
  src/utils/include/utils/math/triangle_functions.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/Counter_test.cpp
  src/utils/tests/accumulator.cpp
  src/utils/tests/bspline_test.cpp
  src/utils/tests/histogram.cpp
  src/utils/tests/linear_interpolation_test.cpp
  src/utils/tests/matrix_test.cpp
  src/utils/tests/unordered_map_test.cpp
Labels: Core, Documentation, Testcase, automerge

#4076 Run tests with 4 MPI ranks
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/unit_test.cmake
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/CMakeLists.txt
  src/core/CMakeLists.txt
  src/shapes/CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/python/domain_decomposition.py
  testsuite/scripts/benchmarks/CMakeLists.txt
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/tutorials/CMakeLists.txt
Labels: BugFix, CMake, DevOps, automerge

#4078 Fix LB halo communication
  src/core/grid_based_algorithms/halo.cpp
  src/core/grid_based_algorithms/halo.hpp
  src/core/grid_based_algorithms/lattice.cpp
  src/core/grid_based_algorithms/lb.cpp
  testsuite/python/lb_poiseuille_cylinder.py
Labels: BugFix, CodeQuality, Core, automerge

#4090 Remove deprecated CUDA compat library
  cmake/FindCUDACompilerNVCC.cmake
Labels: CMake, automerge

#4079 Remove unused bond parameters
  src/core/bonded_interactions/CMakeLists.txt
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/thermalized_bond.cpp
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/bonded_interactions/umbrella.cpp
  src/core/bonded_interactions/umbrella.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/python/espressomd/interactions.pxd
Labels: Core, automerge

#4084 Update build system for Clang 10
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  src/core/accumulators/Correlator.cpp
  src/core/actor/DipolarDirectSum_cuda.cu
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/actor/specfunc_cuda.hpp
  src/core/cluster_analysis/Cluster.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/grid.cpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/integrate.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/core/observables/LBProfileObservable.hpp
  src/core/observables/LBVelocityProfile.cpp
  src/core/stokesian_dynamics/CMakeLists.txt
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
  src/scafacos/CMakeLists.txt
  src/script_interface/get_value.hpp
  src/utils/include/utils/Accumulator.hpp
  src/utils/include/utils/Histogram.hpp
  src/utils/include/utils/constants.hpp
  src/utils/include/utils/math/bspline.hpp
  src/utils/include/utils/math/make_lin_space.hpp
  src/utils/include/utils/math/sinc.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/include/utils/sampling.hpp
  src/utils/include/utils/uniform.hpp
Labels: CMake, CodeQuality, Core, automerge

#4075 Fix Utils::Mpi::gather_buffer() functions
  src/utils/include/utils/mpi/gather_buffer.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/gather_buffer_test.cpp
  src/utils/tests/gatherv_test.cpp
Labels: BugFix, Core, Testcase, automerge

#4057 Unite BROWNIAN_PER_PARTICLE and LANGEVIN_PER_PARTICLE
  doc/sphinx/advanced_methods.rst
  doc/sphinx/installation.rst
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/running.rst
  maintainer/configs/maxset.hpp
  maintainer/configs/no_rotation.hpp
  samples/chamber_game.py
  samples/drude_bmimpf6.py
  src/config/features.def
  src/config/myconfig-default.hpp
  src/core/Particle.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/thermostats/brownian_inline.hpp
  src/core/thermostats/langevin_inline.hpp
  src/python/espressomd/drude_helpers.py
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  testsuite/python/array_properties.py
  testsuite/python/brownian_dynamics.py
  testsuite/python/brownian_dynamics_stats.py
  testsuite/python/drude.py
  testsuite/python/langevin_thermostat.py
  testsuite/python/langevin_thermostat_stats.py
  testsuite/python/mass-and-rinertia_per_particle.py
  testsuite/python/particle.py
  testsuite/python/thermostats_common.py
  testsuite/python/virtual_sites_tracers.py
  testsuite/python/virtual_sites_tracers_gpu.py
Labels: ApiChange, Core, Improvement, automerge

#4094 fix and test transform_vector_cartesian_to_cylinder
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/tests/coordinate_transformation.cpp
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/tests_common.py
Labels: BugFix, Core, automerge

#4098 Fix ROTATION build
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/p3m-data_struct.hpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
Labels: Core, automerge

#4102 Remove MPI code duplication
  src/core/cuda_interface.cpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda_interface.cpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda_interface.hpp
  src/utils/include/utils/mpi/gather_buffer.hpp
  src/utils/tests/gather_buffer_test.cpp
Labels: CodeQuality, Core, automerge

#4099 Factor out code duplication in ELC
  src/core/electrostatics_magnetostatics/elc.cpp
Labels: CodeQuality, Core, automerge

#4104 Code cleanup
  src/core/Particle.hpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb_collective_interface.cpp
  src/core/short_range_loop.hpp
  src/core/unit_tests/Particle_test.cpp
  src/python/object_in_fluid/oif_classes.py
Labels: CodeQuality, Core, Python, automerge

#4105 Fix flaky integration tests
  .gitlab-ci.yml
  doc/sphinx/conf.py.in
  samples/load_checkpoint.py
  samples/save_checkpoint.py
  src/python/espressomd/collision_detection.pyx
  src/utils/tests/CMakeLists.txt
  src/utils/tests/all_gatherv_test.cpp
  testsuite/python/cellsystem.py
  testsuite/python/collision_detection.py
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/p3m_tuning_exceptions.py
  testsuite/python/virtual_sites_tracers_common.py
  testsuite/scripts/samples/test_load_checkpoint.py
Labels: DevOps, automerge

#4086 Improve testing of the P3M code
  .gitlab-ci.yml
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/dipolar_p3m.py
  testsuite/python/ek_common.py
  testsuite/python/electrostaticInteractions.py
  testsuite/python/lb_electrohydrodynamics.py
  testsuite/python/p3m_fft.py
  testsuite/python/p3m_tuning_exceptions.py
  testsuite/python/test_checkpoint.py
Labels: Core, Testcase, automerge

#4106 EK bugfixes
  maintainer/configs/maxset.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lb.cpp
  src/python/espressomd/electrokinetics.pxd
  src/python/espressomd/electrokinetics.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_eof_one_species.py
  testsuite/python/ek_eof_one_species_x.py
  testsuite/python/ek_eof_one_species_y.py
  testsuite/python/ek_eof_one_species_z.py
  testsuite/python/test_checkpoint.py
  testsuite/python/tests_common.py
Labels: BugFix, Core, Python, Testcase, automerge

#4108 Remove manual memory management in LB code
  src/core/grid_based_algorithms/halo.cpp
  src/core/grid_based_algorithms/halo.hpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/utils/include/utils/memory.hpp
  src/utils/include/utils/mpi/all_gatherv.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/all_gatherv_test.cpp
Labels: CodeQuality, Core, automerge

#4095 CUDA exception handling
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVCC.cmake
  doc/sphinx/system_setup.rst
  maintainer/CI/build_cmake.sh
  src/core/CellStructure.hpp
  src/core/DomainDecomposition.hpp
  src/core/EspressoSystemInterface_cuda.cu
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarBarnesHut_cuda.cuh
  src/core/actor/DipolarDirectSum_cuda.cu
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/cuda_common_cuda.cu
  src/core/cuda_init.cpp
  src/core/cuda_init.hpp
  src/core/cuda_init_cuda.cu
  src/core/cuda_interface.hpp
  src/core/cuda_utils.cuh
  src/core/cuda_utils.hpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/electrostatics_magnetostatics/p3m_gpu_error_cuda.cu
  src/core/event.cpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/fd-electrostatics_cuda.cu
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/io/mpiio/mpiio.hpp
  src/core/polymer.hpp
  src/core/statistics.hpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
  src/python/espressomd/cuda_init.pxd
  src/python/espressomd/cuda_init.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/gpu_availability.py
Labels: ApiChange, CodeQuality, Core, Documentation, Python, automerge
