Repository espressomd/espresso, pull requests merged in 2021-09, with the labels that each got.

#4341 Add video links
  doc/tutorials/Readme.md
Labels: Documentation, automerge

#4343 Update GitHub Pages deploy job
  .github/actions/deploy_docs/action.yml
Labels: DevOps, automerge

#4345 LB maintenance
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/python/espressomd/lbboundaries.py
  testsuite/python/lb_pressure_tensor.py
Labels: Core, automerge, CodeQuality

#4346 Testing: fix IBMVolCons test
  testsuite/python/ibm.py
Labels: Python, automerge

#4348 installation instructions on windows
  doc/sphinx/installation.rst
Labels: Documentation, automerge

#4349 New array features
  src/core/BoxGeometry.hpp
  src/core/DomainDecomposition.cpp
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/tests/Array_test.cpp
  src/utils/tests/Vector_test.cpp
Labels: Core, automerge

#4353 'Classify' drude_helpers; remove ids from interface
  doc/sphinx/advanced_methods.rst
  doc/sphinx/inter_non-bonded.rst
  samples/drude_bmimpf6.py
  src/python/espressomd/drude_helpers.py
  testsuite/python/drude.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: Testcase, Python, ApiChange, automerge

#4355 Refactor LB exception mechanism
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  testsuite/python/lb.py
  testsuite/python/lb_pressure_tensor.py
Labels: Python, BugFix, automerge, CodeQuality

#4360 Fix LB Poiseuille flow sample
  samples/lb_profile.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_lb_profile.py
Labels: Python, DevOps, automerge

#4361 Simplify particle data interface
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/electrostatics_magnetostatics/icc.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/python/espressomd/analyze.pyx
  src/python/espressomd/electrostatic_extensions.pxd
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/system.pyx
  testsuite/python/particle.py
Labels: Python, Core, automerge
