Repository espressomd/espresso, pull requests merged in 2021-07, with the labels that each got.

#4288 Remove Wang-Landau Reaction Ensemble algorithm
  doc/doxygen/bibliography.bib
  doc/sphinx/advanced_methods.rst
  doc/sphinx/zrefs.bib
  samples/wang_landau_reaction_ensemble.py
  src/core/reaction_methods/CMakeLists.txt
  src/core/reaction_methods/ConstantpHEnsemble.cpp
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/ReactionEnsemble.cpp
  src/core/reaction_methods/ReactionEnsemble.hpp
  src/core/reaction_methods/WangLandauReactionEnsemble.cpp
  src/core/reaction_methods/WangLandauReactionEnsemble.hpp
  src/core/reaction_methods/tests/CMakeLists.txt
  src/core/reaction_methods/tests/ConstantpHEnsemble_test.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/core/reaction_methods/tests/SingleReaction_test.cpp
  src/core/reaction_methods/tests/WangLandauReactionEnsemble_test.cpp
  src/core/reaction_methods/tests/reaction_methods_utils_test.cpp
  src/core/reaction_methods/utils.hpp
  src/python/espressomd/reaction_ensemble.pxd
  src/python/espressomd/reaction_ensemble.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/wang_landau.py
  testsuite/python/wang_landau_stats.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_wang_landau_reaction_ensemble.py
Labels: ApiChange, BugFix, Core, Python, Testcase, automerge

#4287 Catch ObjectList checkpointing bug
  doc/sphinx/io.rst
  src/core/accumulators.cpp
  src/core/constraints/Constraints.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/python/espressomd/lb.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/ObjectList.hpp
  src/script_interface/get_value.hpp
  src/script_interface/object_container_mpi_guard.cpp
  src/script_interface/object_container_mpi_guard.hpp
  src/script_interface/tests/ObjectList_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: BugFix, ScriptInterface, Testcase, automerge

#4298 lgtm python dependencies
  .lgtm.yml
Labels: DevOps, automerge

#4300 Remove lgtm tooling
  .lgtm.yml
Labels: DevOps, automerge

#4307 Don't waste time by including non-interacting pairs in Verlet lists
  src/core/nonbonded_interactions/VerletCriterion.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  testsuite/python/test_checkpoint.py
Labels: Core, automerge

#4304 active matter tutorial to notebook
  doc/tutorials/active_matter/CMakeLists.txt
  doc/tutorials/active_matter/active_matter.ipynb
  doc/tutorials/active_matter/exercises/enhanced_diffusion.py
  doc/tutorials/active_matter/exercises/flow_field.py
  doc/tutorials/active_matter/exercises/rectification_geometry.py
  doc/tutorials/active_matter/exercises/rectification_simulation.py
  doc/tutorials/active_matter/figures/enhanced.pdf
  doc/tutorials/active_matter/figures/enhanced.svg
  doc/tutorials/active_matter/figures/geometry.pdf
  doc/tutorials/active_matter/figures/geometry.svg
  doc/tutorials/active_matter/figures/rectification.pdf
  doc/tutorials/active_matter/figures/rectification.svg
  doc/tutorials/active_matter/solutions/enhanced_diffusion.py
  doc/tutorials/active_matter/solutions/flow_field.py
  doc/tutorials/active_matter/solutions/rectification_geometry.py
  doc/tutorials/active_matter/solutions/rectification_simulation.py
  doc/tutorials/active_matter/solutions/solutions.txt
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_active_matter.py
  testsuite/scripts/tutorials/test_active_matter__enhanced_diffusion.py
  testsuite/scripts/tutorials/test_active_matter__flow_field.py
  testsuite/scripts/tutorials/test_active_matter__rectification_geometry.py
  testsuite/scripts/tutorials/test_active_matter__rectification_simulation.py
Labels: Documentation, automerge

#4305 Change Reaction Methods interface
  doc/tutorials/constant_pH/constant_pH.ipynb
  samples/grand_canonical.py
  samples/reaction_ensemble.py
  samples/reaction_ensemble_complex_reaction.py
  samples/widom_insertion.py
  src/core/reaction_methods/ConstantpHEnsemble.cpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/ReactionEnsemble.cpp
  src/core/reaction_methods/SingleReaction.hpp
  src/core/reaction_methods/WidomInsertion.cpp
  src/core/reaction_methods/tests/ConstantpHEnsemble_test.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/python/espressomd/reaction_ensemble.pxd
  src/python/espressomd/reaction_ensemble.pyx
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/widom_insertion.py
Labels: ApiChange, Python, automerge

#4309 Add missing CUDA guards
  doc/tutorials/active_matter/active_matter.ipynb
  testsuite/scripts/tutorials/test_active_matter.py
Labels: DevOps, automerge

#4262 Update the constant-pH tutorial
  doc/tutorials/constant_pH/constant_pH.ipynb
  testsuite/scripts/tutorials/test_constant_pH__ideal.py
  testsuite/scripts/tutorials/test_constant_pH__interactions.py
Labels: Documentation, automerge

#4310 Refactor reaction method constraints
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/python/espressomd/reaction_ensemble.pxd
  src/python/espressomd/reaction_ensemble.pyx
  src/python/espressomd/utils.pxd
Labels: Core, Testcase, automerge

#4311 MMM1D maintenance
  doc/sphinx/installation.rst
  maintainer/configs/no_rotation.hpp
  src/config/features.def
  src/core/EspressoSystemInterface.hpp
  src/core/EspressoSystemInterface_cuda.cu
  src/core/SystemInterface.hpp
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarDirectSum.hpp
  src/core/actor/Mmm1dgpuForce.hpp
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/actor/specfunc_cuda.hpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/specfunc.cpp
  src/core/electrostatics_magnetostatics/specfunc.hpp
  src/python/espressomd/electrostatics.pxd
Labels: CodeQuality, Core, automerge

#4312 Bump version requirements
  .gitlab-ci.yml
  CMakeLists.txt
  doc/sphinx/installation.rst
  requirements.txt
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/__init__.py
  testsuite/python/CMakeLists.txt
  testsuite/python/decorators.py
  testsuite/python/rotation.py
  testsuite/python/unittest_decorators.py
  testsuite/scripts/tutorials/test_active_matter.py
Labels: DevOps, Python, automerge
