Repository espressomd/espresso, pull requests merged in 2021-06, with the labels that each got.

#4272 Make ferrofluid tutorial part 1 deterministic
  doc/tutorials/ferrofluid/CMakeLists.txt
  doc/tutorials/ferrofluid/ferrofluid_part1.ipynb
  testsuite/scripts/tutorials/test_ferrofluid_1.py
Labels: DevOps, automerge

#4265 Refactor reaction methods
  src/core/particle_data.hpp
  src/core/reaction_methods/ConstantpHEnsemble.cpp
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/ReactionEnsemble.cpp
  src/core/reaction_methods/ReactionEnsemble.hpp
  src/core/reaction_methods/WangLandauReactionEnsemble.cpp
  src/core/reaction_methods/WidomInsertion.cpp
  src/core/reaction_methods/WidomInsertion.hpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/python/espressomd/reaction_ensemble.pxd
  src/python/espressomd/reaction_ensemble.pyx
Labels: CodeQuality, Core, automerge

#4268 Implement == for cdef class LBNode and LBSlice #4204
  src/python/espressomd/lb.pyx
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Labels: automerge

#4276 Remove globals.pyx
  doc/sphinx/electrostatics.rst
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/mmm1d.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/core/forcecap.cpp
  src/core/forcecap.hpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/tuning.cpp
  src/core/tuning.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/globals.pxd
  src/python/espressomd/globals.pyx
  src/python/espressomd/integrate.pxd
  src/python/espressomd/integrate.pyx
  src/python/espressomd/lb.pyx
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/system.pxd
  src/python/espressomd/system.pyx
  testsuite/python/integrator_npt.py
  testsuite/python/integrator_steepest_descent.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: ApiChange, CodeQuality, Core, Python, automerge

#4279 Fix cell resort regression
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/cells.cpp
  testsuite/python/domain_decomposition.py
  testsuite/python/nsquare.py
Labels: BugFix, Core, Testcase, automerge

#4282 Coding day wrap up
  AUTHORS
  src/python/espressomd/polymer.pyx
  src/python/espressomd/system.pyx
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
  testsuite/python/p3m_tuning_exceptions.py
  testsuite/python/save_checkpoint.py
  testsuite/python/scafacos_interface.py
  testsuite/python/test_checkpoint.py
Labels: automerge

#4283 Fix system.part choice for Gibbs sample
  samples/gibbs_ensemble/gibbs_ensemble.py
  samples/gibbs_ensemble/run_sim.py
Labels: BugFix, Python, automerge

#4286 IBM volume conservation maintenance
  src/config/config.hpp
  src/core/energy_inline.hpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/immersed_boundary/ImmersedBoundaries.hpp
  src/core/immersed_boundary/ibm_volcons.cpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/ibm.py
  testsuite/python/virtual_sites_tracers_common.py
Labels: BugFix, Core, Testcase, automerge
