Repository espressomd/espresso, pull requests merged in 2021-02, with the labels that each got.

#4109 Remove manual memory management in EK code
  src/core/cuda_utils.cuh
  src/core/grid_based_algorithms/electrokinetics.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/fd-electrostatics.cuh
  src/core/grid_based_algorithms/fd-electrostatics_cuda.cu
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbgpu.cuh
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
  src/utils/include/utils/memory.hpp
Labels: CodeQuality, Core, automerge

#4110 Code maintenance
  .clang-tidy
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/observables/ParticleAngularVelocities.hpp
  src/core/observables/ParticleBodyAngularVelocities.hpp
  src/core/observables/ParticleBodyVelocities.hpp
  src/core/observables/ParticleForces.hpp
  src/core/rotation.cpp
  src/core/rotation.hpp
  src/python/espressomd/system.pyx
  src/utils/tests/Factory_test.cpp
Labels: CodeQuality, automerge

#4112 Remove option_if_available()
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/option_if_available.cmake
  maintainer/CI/build_cmake.sh
  src/config/features.def
Labels: CMake, automerge

#4116 python: use binary or instead of logical to set the thermostat flag.
  src/python/espressomd/thermostat.pyx
Labels: BugFix, Python, automerge

#4115 Bump Python packages version requirements
  .gitlab-ci.yml
  doc/sphinx/installation.rst
  doc/tutorials/constant_pH/constant_pH.ipynb
  maintainer/benchmarks/CMakeLists.txt
  maintainer/format/autopep8.sh
  maintainer/format/cmake-format.sh
  requirements.txt
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/utils.pyx
  src/python/object_in_fluid/oif_classes.py
  testsuite/python/utils.py
Labels: Python, automerge

#4118 Refactor P3M/DP3M exception mechanism
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/immersed_boundary/ibm_tribend.cpp
  src/python/espressomd/actors.pyx
  src/python/espressomd/analyze.pyx
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/collision_detection.pyx
  src/python/espressomd/electrokinetics.pyx
  src/python/espressomd/electrostatic_extensions.pyx
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/globals.pyx
  src/python/espressomd/integrate.pyx
  src/python/espressomd/magnetostatic_extensions.pyx
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  src/python/espressomd/scafacos.pyx
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/system.pyx
  testsuite/python/p3m_fft.py
  testsuite/python/p3m_tuning_exceptions.py
Labels: BugFix, CodeQuality, Core, Python, automerge

#4123 maintainer: attempt to fix mac os mpi issue.
  .github/workflows/build.yml
Labels: DevOps, automerge

#4124 python: base class for P3M and P3MGPU
  src/python/espressomd/electrostatics.pyx
Labels: Python, automerge
