Repository espressomd/espresso, pull requests merged in 2022-09, with the labels that each got.

#4565 Missing guard ext torque
  src/core/Particle.hpp
  src/core/unit_tests/Verlet_list_test.cpp
  testsuite/python/bond_breakage.py
  testsuite/python/lees_edwards.py
Labels: Core, automerge

#4572 Small typos in the reaction ensemble tutorial
  doc/tutorials/constant_pH/constant_pH.ipynb
Labels: Documentation, automerge

#4576 Checkpointing maintenance
  doc/sphinx/io.rst
  src/script_interface/integrators/IntegratorHandle.cpp
  testsuite/python/save_checkpoint.py
Labels: Documentation, Python, automerge

#4577 GitHub Workflows security hardening
  .github/workflows/deploy.yml
  .github/workflows/push_pull.yml
Labels: DevOps, automerge

#4579 Add support for modern compilers
  .github/actions/build_and_check/action.yml
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVCC.cmake
  maintainer/CI/build_cmake.sh
  src/core/SystemInterface.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/cell_system/AtomDecomposition.hpp
  src/core/cell_system/HybridDecomposition.hpp
  src/core/cell_system/RegularDecomposition.hpp
  src/core/cells.cpp
  src/core/communication.cpp
  src/core/cuda_init.cpp
  src/core/cuda_interface.cpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/specfunc.cpp
  src/core/energy.cpp
  src/core/errorhandling.cpp
  src/core/errorhandling.hpp
  src/core/event.cpp
  src/core/galilei/ComFixed.hpp
  src/core/grid_based_algorithms/halo.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/immersed_boundary/ibm_triel.cpp
  src/core/integrate.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/p3m/common.cpp
  src/core/p3m/fft.cpp
  src/core/p3m/interpolation.hpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/core/unit_tests/EspressoSystemInterface_test.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Particle_serialization_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/field_coupling_couplings_test.cpp
  src/core/unit_tests/grid_test.cpp
  src/script_interface/analysis/ObservableStat.cpp
  src/script_interface/auto_parameters/AutoParameters.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/initialize.cpp
  src/script_interface/particle_data/ParticleHandle.hpp
  src/script_interface/tests/LocalContext_test.cpp
  src/script_interface/tests/ParallelExceptionHandler_test.cpp
  src/utils/include/utils/Histogram.hpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  src/utils/include/utils/mpi/gather_buffer.hpp
  src/utils/tests/matrix_vector_product.cpp
  src/utils/tests/quaternion_test.cpp
Labels: Core, CMake, DevOps, automerge, CodeQuality

#4546 Add tutorial on Widom particle insertion
  doc/sphinx/introduction.rst
  doc/sphinx/reaction_methods.rst
  doc/tutorials/CMakeLists.txt
  doc/tutorials/Readme.md
  doc/tutorials/widom_insertion/CMakeLists.txt
  doc/tutorials/widom_insertion/NotesForTutor.md
  doc/tutorials/widom_insertion/widom_insertion.ipynb
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_widom_insertion.py
Labels: Documentation, automerge
