Repository espressomd/espresso, pull requests merged in 2022-02, with the labels that each got.

#4439 Remove code duplication in actors
  src/python/espressomd/actors.pyx
  src/python/espressomd/electrokinetics.pyx
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/integrate.pyx
  src/python/espressomd/interactions.pyx
  src/python/espressomd/magnetostatics.pyx
  src/python/espressomd/polymer.pyx
  src/python/espressomd/utils.pyx
  testsuite/python/actor.py
  testsuite/python/ek_charged_plate.py
  testsuite/python/electrostaticInteractions.py
  testsuite/python/integrator_exceptions.py
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/interactions_non-bonded_interface.py
  testsuite/python/polymer_linear.py
Labels: Python, automerge

#4443 Make polymer_linear test deterministic.
  testsuite/python/polymer_linear.py
Labels: Python, CodingDay, automerge

#4441 Fix various CI and CMake issues
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/FindMpiexecBackend.cmake
  cmake/unit_test.cmake
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/CMakeLists.txt
  maintainer/benchmarks/runner.sh
  maintainer/benchmarks/suite.sh
  testsuite/python/CMakeLists.txt
Labels: CMake, DevOps, CodingDay, automerge

#4444 Particle property getters
  src/core/PartCfg.cpp
  src/core/Particle.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/cluster_analysis/Cluster.cpp
  src/core/collision.cpp
  src/core/constraints/Constraints.hpp
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/cuda_interface.cpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/core/galilei.cpp
  src/core/ghosts.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/immersed_boundary/ibm_common.cpp
  src/core/immersed_boundary/ibm_tribend.cpp
  src/core/immersed_boundary/ibm_triel.cpp
  src/core/object-in-fluid/oif_global_forces.cpp
  src/core/object-in-fluid/oif_local_forces.hpp
  src/core/observables/ForceDensityProfile.hpp
  src/core/observables/ParticleTraits.hpp
  src/core/observables/fetch_particles.hpp
  src/core/pair_criteria/pair_criteria.hpp
  src/core/particle_data.cpp
  src/core/pressure_inline.hpp
  src/core/rattle.cpp
  src/core/rattle.hpp
  src/core/rotate_system.cpp
  src/core/statistics.cpp
  src/core/statistics_chain.cpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Particle_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/energy_test.cpp
  src/core/unit_tests/link_cell_test.cpp
  src/core/unit_tests/thermostats_test.cpp
  src/core/virtual_sites.cpp
  src/core/virtual_sites/VirtualSites.hpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda_interface.cpp
  src/script_interface/virtual_sites/VirtualSites.hpp
Labels: Core, automerge

#4445 Make CellStructureType an enum class.
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/CellStructureType.hpp
  src/core/LocalBox.hpp
  src/core/actor/Mmm1dgpuForce.cpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/event.cpp
  src/core/grid.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/unit_tests/LocalBox_test.cpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
Labels: Core, automerge

#4455 MPI-IO maintenance
  doc/sphinx/io.rst
  src/core/io/mpiio/mpiio.cpp
  src/core/io/mpiio/mpiio.hpp
  src/python/espressomd/io/mpiio.py
  src/script_interface/mpiio/initialize.cpp
  src/script_interface/mpiio/mpiio.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/mpiio.py
  testsuite/python/mpiio_exceptions.py
Labels: Testcase, Core, ApiChange, ScriptInterface, automerge, CodeQuality

#4450 Verlet unit test
  src/core/forces.cpp
  src/core/nonbonded_interactions/VerletCriterion.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/VerletCriterion_test.cpp
Labels: Testcase, Core, automerge

#4456 Breaking bonds
  src/core/CMakeLists.txt
  src/core/bond_breakage.cpp
  src/core/bond_breakage.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/python/espressomd/bond_breakage.py
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/system.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/ObjectMap.hpp
  src/script_interface/bond_breakage/BreakageSpec.hpp
  src/script_interface/bond_breakage/BreakageSpecs.hpp
  src/script_interface/bond_breakage/CMakeLists.txt
  src/script_interface/bond_breakage/initialize.cpp
  src/script_interface/bond_breakage/initialize.hpp
  src/script_interface/initialize.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/bond_breakage.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: New Feature, automerge

#4457 Implement Lees-Edwards boundary conditions
  doc/sphinx/advanced_methods.rst
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/zrefs.bib
  src/core/AtomDecomposition.hpp
  src/core/BoxGeometry.hpp
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/LeesEdwardsBC.hpp
  src/core/Particle.hpp
  src/core/ParticleDecomposition.hpp
  src/core/RegularDecomposition.hpp
  src/core/cells.cpp
  src/core/dpd.cpp
  src/core/event.cpp
  src/core/event.hpp
  src/core/integrate.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/lees_edwards.hpp
  src/core/lees_edwards_protocol.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/grid_test.cpp
  src/core/unit_tests/lees_edwards_test.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/python/espressomd/grid.pxd
  src/python/espressomd/lees_edwards.py
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/system.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/initialize.cpp
  src/script_interface/lees_edwards/CMakeLists.txt
  src/script_interface/lees_edwards/LeesEdwards.hpp
  src/script_interface/lees_edwards/LinearShear.hpp
  src/script_interface/lees_edwards/Off.hpp
  src/script_interface/lees_edwards/OscillatoryShear.hpp
  src/script_interface/lees_edwards/Protocol.hpp
  src/script_interface/lees_edwards/initialize.cpp
  src/script_interface/lees_edwards/initialize.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/tests/Vector_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/lees_edwards.py
Labels: New Feature, automerge
