Repository espressomd/espresso, pull requests merged in 2022-03, with the labels that each got.

#4471 throw error for bonded interactions if particles are at the same posi…
  src/core/bonded_interactions/fene.hpp
  src/core/bonded_interactions/harmonic.hpp
  src/core/bonded_interactions/quartic.hpp
  testsuite/python/interactions_bonded.py
Labels: Core, automerge

#4472 throw if lb boundaries do not fit lb algorithm
  src/core/grid_based_algorithms/lb_boundaries.cpp
Labels: Core, BugFix, automerge

#4468 CMake maintenance
  .codecov.yml
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_common.py
  testsuite/python/ek_eof_one_species.py
  testsuite/python/interactions_bonded.py
  testsuite/python/interactions_non-bonded.py
  testsuite/python/pressure.py
  testsuite/python/save_checkpoint.py
  testsuite/python/sigint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/tests_common.py
  testsuite/python/unittest_generator.py
Labels: Python, CMake, automerge

#4469 reaction_methods: new optional keyword exclusion_radius_per_type
  doc/sphinx/advanced_methods.rst
  doc/tutorials/constant_pH/constant_pH.ipynb
  maintainer/benchmarks/mc_acid_base_reservoir.py
  samples/grand_canonical.py
  samples/reaction_ensemble.py
  samples/reaction_ensemble_complex_reaction.py
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/ReactionEnsemble.hpp
  src/core/reaction_methods/WidomInsertion.hpp
  src/core/reaction_methods/tests/ConstantpHEnsemble_test.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/python/espressomd/reaction_ensemble.py
  src/script_interface/reaction_methods/ConstantpHEnsemble.hpp
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  src/script_interface/reaction_methods/ReactionEnsemble.hpp
  src/script_interface/reaction_methods/WidomInsertion.hpp
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/reaction_methods.py
Labels: Core, New Feature, ApiChange, ScriptInterface, automerge

#4464 Bond breakage interface
  doc/sphinx/advanced_methods.rst
  src/python/espressomd/bond_breakage.py
  src/python/espressomd/interactions.pyx
  src/python/espressomd/script_interface.pyx
  src/script_interface/bond_breakage/BreakageSpec.hpp
  testsuite/python/bond_breakage.py
  testsuite/python/save_checkpoint.py
Labels: Documentation, ScriptInterface, automerge

#4414 Reduce MPI communication overhead
  .clang-tidy
  src/core/BondList.hpp
  src/core/Particle.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/Particle_serialization_test.cpp
  src/core/unit_tests/Particle_test.cpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/compact_vector.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/include/utils/serialization/array.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/serialization_test.cpp
Labels: Core, automerge, Performance

#4463 Lees-Edwards with collision detection and breakable bonds
  testsuite/python/lees_edwards.py
Labels: Testcase, automerge
