Repository espressomd/espresso, pull requests merged in 2023-12, with the labels that each got.

#4827 LB+particles: guard against missed coupling due to round-off error
  src/core/lb/particle_coupling.cpp
  testsuite/python/lb.py
Labels: Core, BugFix, automerge

#4839 Remove kinetic energy contribution from virtual sites
  doc/sphinx/installation.rst
  src/core/energy_inline.hpp
  src/core/unit_tests/energy_test.cpp
  src/python/espressomd/particle_data.py
Labels: Core, BugFix, automerge

#4835 Annotate P3M code with equation references
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m.hpp
Labels: Documentation, Core, automerge

#4843 Prevent propagation of angular velocities with NpT
  doc/sphinx/integration.rst
  src/core/integrators/velocity_verlet_npt.cpp
  testsuite/python/integrator_npt.py
Labels: BugFix, automerge
