Repository espressomd/espresso, pull requests merged in 2023-03, with the labels that each got.

#4676 Remove 1-core restriction for NSquare and HybridDecomposition + LB.
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/engine_lb.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_stats.py
Labels: Core, automerge

#4678 Enable P3M for hybrid decomposition with one MPI node
  src/core/electrostatics/p3m.cpp
  src/core/magnetostatics/dp3m.cpp
  testsuite/python/hybrid_decomposition.py
  testsuite/python/p3m_tuning_exceptions.py
Labels: Core, automerge

#4679 Prevent insertion of particles with negative mass
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/particle.py
Labels: BugFix, ScriptInterface, automerge

#4680 Fix bugs in testcases.
  src/core/unit_tests/Verlet_list_test.cpp
  testsuite/python/save_checkpoint.py
Labels: automerge

#4683 Fix operator transformation from body frame to lab frame
  src/core/rotation.hpp
  src/core/unit_tests/rotation_test.cpp
Labels: Testcase, Core, BugFix, automerge

#4681 Documentation maintenance
  cmake/FindFFTW3.cmake
  doc/bibliography.bib
  doc/sphinx/advanced_methods.rst
  doc/sphinx/analysis.rst
  doc/sphinx/conf.py.in
  doc/sphinx/reaction_methods.rst
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  maintainer/benchmarks/benchmarks.py
  samples/lbf.py
  src/core/cell_system/RegularDecomposition.cpp
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/python/espressomd/particle_data.py
  testsuite/python/tests_common.py
Labels: Documentation, automerge

#4686 Visualizer bugfixes
  doc/sphinx/installation.rst
  src/core/bond_breakage/bond_breakage.cpp
  src/core/collision.cpp
  src/python/espressomd/visualization.py
Labels: Python, BugFix, automerge

#4688 Efficient GPU utilization in CI
  testsuite/python/CMakeLists.txt
  testsuite/python/long_range_actors.py
  testsuite/python/resources.json
Labels: DevOps, automerge

#4697 Hide `Particle` substructure layout from public API
  src/core/Particle.hpp
  src/core/constraints/Constraints.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/ghosts.cpp
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/unit_tests/Particle_test.cpp
Labels: Core, automerge

#4564 Simplify VS_Relative, fix VS support for Lees Edwards
  src/core/BoxGeometry.hpp
  src/core/integrate.cpp
  src/core/lees_edwards/LeesEdwardsBC.hpp
  src/core/lees_edwards/lees_edwards.hpp
  src/core/unit_tests/grid_test.cpp
  src/core/unit_tests/lees_edwards_test.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  testsuite/python/lees_edwards.py
Labels: Core, BugFix, automerge

#4698 Fix issues with cluster analysis and chain analysis
  doc/sphinx/analysis.rst
  src/core/BoxGeometry.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/cluster_analysis/Cluster.cpp
  src/core/cluster_analysis/Cluster.hpp
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/cluster_analysis/ClusterStructure.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/python/espressomd/analyze.py
  testsuite/python/analyze_chains.py
  testsuite/python/cluster_analysis.py
  testsuite/python/lees_edwards.py
Labels: Documentation, Core, BugFix, automerge
