Repository espressomd/espresso, pull requests merged in 2023-02, with the labels that each got.

#4629 Particle properties script interface
  src/core/Particle.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/collision.cpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Particle_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/virtual_sites.cpp
  src/core/virtual_sites.hpp
  src/python/espressomd/particle_data.py
  src/python/espressomd/system.py
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleHandle.hpp
  src/script_interface/particle_data/ParticleList.cpp
  src/script_interface/system/System.cpp
  src/utils/include/utils/Bag.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/auto_exclusions.py
  testsuite/python/nsquare.py
  testsuite/python/particle.py
  testsuite/python/reaction_methods_interface.py
  testsuite/python/regular_decomposition.py
  testsuite/python/virtual_sites_relative.py
Labels: ScriptInterface, automerge, CodeQuality

#4669 add a description of missing features in the documentation
  doc/sphinx/installation.rst
Labels: Documentation, automerge

#4674 script_interface: Fix dict_keys-list merge bug
  src/python/espressomd/script_interface.pyx
Labels: Python, BugFix, automerge

#4672 User guide improvements
  doc/bibliography.bib
  doc/sphinx/appendix.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/particles.rst
  doc/sphinx/reaction_methods.rst
  doc/sphinx/system_setup.rst
  doc/tutorials/visualization/visualization.ipynb
Labels: Documentation, automerge

#4677 Make trajectories more reproducible during checkpointing
  doc/sphinx/io.rst
  samples/load_checkpoint.py
  samples/save_checkpoint.py
  src/python/espressomd/electrostatics.py
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/electrostatics/CoulombP3MGPU.hpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
  testsuite/scripts/samples/test_load_checkpoint.py
  testsuite/scripts/samples/test_save_checkpoint.py
Labels: Documentation, Python, Improvement, automerge

#4662 Add particle neighbor kernel method
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/python/espressomd/analyze.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/cell_system/CellSystem.cpp
  src/utils/include/utils/mpi/gather_buffer.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/analyze_distance.py
Labels: Core, New Feature, automerge
