Repository espressomd/espresso, pull requests merged in 2023-08, with the labels that each got.

#4764 Fix memory leaks on the GPU
  doc/bibliography.bib
  doc/sphinx/running.rst
  src/core/electrostatics/mmm1d_gpu_cuda.cu
  src/core/electrostatics/p3m_gpu.cpp
  src/core/electrostatics/p3m_gpu.hpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/electrostatics/p3m_gpu_cuda.cuh
  src/core/system/GpuParticleData_cuda.cu
  src/python/pypresso.cmakein
Labels: Core, Improvement, automerge

#4768 Separate short-range forces by signature
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/forces_inline.hpp
  src/core/pressure_inline.hpp
Labels: Core, automerge

#4779 Throw runtime error on incorrect usage of `ObjectList`
  src/core/accumulators.cpp
  src/core/accumulators.hpp
  src/core/constraints/Constraints.hpp
  src/script_interface/ObjectList.hpp
  src/script_interface/accumulators/AutoUpdateAccumulators.hpp
  src/script_interface/constraints/Constraints.hpp
  src/script_interface/shapes/Union.hpp
  src/script_interface/tests/ObjectList_test.cpp
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKReactions.hpp
  src/shapes/include/shapes/Union.hpp
  src/shapes/unit_tests/Union_test.cpp
  testsuite/python/script_interface.py
Labels: ScriptInterface, automerge

#4776 Introducing more fine-grained events
  src/core/event.cpp
  src/core/event.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/reaction_trivial.py
Labels: Core, automerge
