Repository espressomd/espresso, pull requests merged in 2024-07, with the labels that each got.

#4944 Bugfixes
  cmake/FindCUDACompilerNVCC.cmake
  cmake/espresso_unit_test.cmake
  doc/sphinx/advanced_methods.rst
  doc/sphinx/integration.rst
  doc/sphinx/particles.rst
  maintainer/CI/build_cmake.sh
  maintainer/CI/run_lcov.sh
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cuh
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.h
  maintainer/walberla_kernels/walberla_lbm_generation.py
  src/core/BoxGeometry.hpp
  src/core/io/writer/h5md_core.cpp
  src/core/reaction_methods/tests/CMakeLists.txt
  src/core/unit_tests/CMakeLists.txt
  src/particle_observables/tests/CMakeLists.txt
  src/particle_observables/tests/algorithms_test.cpp
  src/particle_observables/tests/observables_test.cpp
  src/particle_observables/tests/properties_test.cpp
  src/python/espressomd/particle_data.py
  src/python/pypresso.cmakein
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/thermostat/thermostat.hpp
  src/shapes/unit_tests/CMakeLists.txt
  src/utils/tests/CMakeLists.txt
  src/utils/tests/accumulator_test.cpp
  src/utils/tests/coordinate_transformation_test.cpp
  src/utils/tests/cylindrical_transformation_test.cpp
  src/utils/tests/histogram_test.cpp
  src/utils/tests/matrix_vector_product_test.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cuh
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cuh
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_field_accessors_tests.cu
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards_tests.cpp
  src/walberla_bridge/tests/lb_kernels_unit_tests.cpp
  testsuite/CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/python/analyze_chains.py
  testsuite/python/coordinates_folding.py
  testsuite/python/lb.py
  testsuite/python/lb_thermostat.py
  testsuite/python/particle.py
  testsuite/python/propagation_langevin.py
  testsuite/python/propagation_newton.py
  testsuite/python/propagation_npt.py
  testsuite/python/rotate_system.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: Testcase, Documentation, Core, CMake, BugFix, ScriptInterface, automerge, CodeQuality

#4823 Remove the bind_three_particles collision method
  doc/sphinx/advanced_methods.rst
  src/core/collision.cpp
  src/core/collision.hpp
  src/python/espressomd/collision_detection.py
  src/script_interface/collision_detection/CollisionDetection.hpp
  testsuite/python/collision_detection.py
  testsuite/python/collision_detection_interface.py
Labels: ApiChange, automerge

#4948 Fix and test LB Lees Edwards particle coupling
  src/core/lb/particle_coupling.cpp
  src/walberla_bridge/src/lattice_boltzmann/InterpolateAndShiftAtBoundary.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/lb_lees_edwards_particle_coupling.py
Labels: Testcase, Core, automerge, waLBerla

#4952 Rewrite ParticleForce operator+ to improve performance.
  src/core/Particle.hpp
Labels: Core, automerge

#4955 Restrict valid types for periodic fold
  src/core/algorithm/periodic_fold.hpp
Labels: Core, automerge

#4957 LB+LE: fix halo position calculation
  src/core/lb/particle_coupling.cpp
Labels: Core, automerge

#4958 LE: add fully connected option to RegularDecomposition
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/HybridDecomposition.cpp
  src/core/cell_system/RegularDecomposition.cpp
  src/core/cell_system/RegularDecomposition.hpp
  src/core/system/System.cpp
  src/python/espressomd/cell_system.py
  src/script_interface/cell_system/CellSystem.cpp
  testsuite/python/lees_edwards.py
  testsuite/python/regular_decomposition.py
Labels: Python, Core, automerge
