Repository espressomd/espresso, pull requests merged in 2024-09, with the labels that each got.

#4977 Introduce an event on_lees_edwards_change
  .gitlab-ci.yml
  src/core/lb/LBNone.hpp
  src/core/lb/LBWalberla.cpp
  src/core/lb/LBWalberla.hpp
  src/core/lb/Solver.cpp
  src/core/lb/Solver.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/script_interface/lees_edwards/LeesEdwards.hpp
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluid.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/integrator_exceptions.py
  testsuite/python/lb_lees_edwards.py
Labels: BugFix, automerge, waLBerla

#4992 Support recent CMake and NumPy versions
  CMakeLists.txt
  requirements.txt
  samples/lb_planar_couette.py
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/ek_eof.py
  testsuite/python/ek_interface.py
  testsuite/python/lb.py
  testsuite/python/lb_lees_edwards_particle_coupling.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lees_edwards.py
  testsuite/python/propagation_brownian.py
  testsuite/python/test_checkpoint.py
Labels: Python, CMake, DevOps, automerge

#4994 PackInfo code generation
  maintainer/benchmarks/CMakeLists.txt
  maintainer/benchmarks/benchmarks.py
  maintainer/benchmarks/lb.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/pystencils_espresso.py
  src/core/integrate.cpp
  src/core/lb/LBNone.hpp
  src/core/lb/LBWalberla.cpp
  src/core/lb/LBWalberla.hpp
  src/core/lb/Solver.cpp
  src/core/lb/Solver.hpp
  src/core/lb/particle_coupling.cpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/LBVelocityProfile.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/script_interface/walberla/LBFluid.cpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/lb_kernels.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_flow_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/lb.py
  testsuite/python/lb_planar_couette.py
  testsuite/python/regular_decomposition.py
Labels: automerge, waLBerla, Performance
