Repository espressomd/espresso, pull requests merged in 2024-11, with the labels that each got.

#5007 Implement multi-GPU LB
  doc/sphinx/lb.rst
  maintainer/benchmarks/lb.py
  maintainer/walberla_kernels/Readme.md
  maintainer/walberla_kernels/custom_additional_extensions.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/pystencils_espresso.py
  maintainer/walberla_kernels/templates/preprocessor.tmpl.cuh
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_double_precisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_single_precisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/lb_kernels.cuh
  src/walberla_bridge/tests/CMakeLists.txt
  testsuite/scripts/benchmarks/CMakeLists.txt
Labels: Core, Improvement, automerge, waLBerla

#5012 Fix Issue #5008
  src/python/espressomd/particle_data.py
  testsuite/python/mpiio.py
  testsuite/python/particle.py
Labels: Python, BugFix, automerge

#5014 Improve LB GPU and thermostats API
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cuh
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.h
  samples/lb_profile.py
  src/core/lb/particle_coupling.cpp
  src/core/thermostat.hpp
  src/script_interface/thermostat/thermostat.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cuh
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cuh
  testsuite/python/CMakeLists.txt
  testsuite/python/lattice_vtk.py
  testsuite/python/lb.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_pressure_tensor.py
  testsuite/python/lb_thermostat.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: ScriptInterface, automerge, waLBerla, Performance
