Repository espressomd/espresso, pull requests merged in 2024-08, with the labels that each got.

#4969 Simplify P3M C++ API
  cmake/FindFFTW3.cmake
  src/core/electrostatics/CMakeLists.txt
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/coulomb.hpp
  src/core/electrostatics/elc.cpp
  src/core/electrostatics/elc.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m.hpp
  src/core/electrostatics/p3m.impl.hpp
  src/core/electrostatics/p3m_gpu.cpp
  src/core/electrostatics/p3m_gpu.hpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/electrostatics/p3m_gpu_cuda.cuh
  src/core/fft/fft.cpp
  src/core/fft/fft.hpp
  src/core/fft/vector.hpp
  src/core/forces.cpp
  src/core/magnetostatics/dp3m.cpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m.impl.hpp
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/p3m/FFTBackendLegacy.hpp
  src/core/p3m/common.hpp
  src/core/p3m/data_struct.hpp
  src/core/p3m/influence_function.hpp
  src/core/p3m/influence_function_dipolar.hpp
  src/core/p3m/send_mesh.cpp
  src/core/p3m/send_mesh.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/ParticleFactory.hpp
  src/core/unit_tests/fft_test.cpp
  src/python/espressomd/electrostatics.py
  src/python/espressomd/magnetostatics.py
  src/script_interface/electrostatics/Actor.impl.hpp
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/electrostatics/CoulombP3MGPU.hpp
  src/script_interface/electrostatics/ElectrostaticLayerCorrection.hpp
  src/script_interface/electrostatics/initialize.cpp
  src/script_interface/magnetostatics/Actor.impl.hpp
  src/script_interface/magnetostatics/DipolarLayerCorrection.hpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
  src/script_interface/magnetostatics/initialize.cpp
  src/script_interface/tests/Actors_test.cpp
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/coulomb_interface.py
  testsuite/python/p3m_madelung.py
  testsuite/python/p3m_tuning_exceptions.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: Core, Improvement, automerge

#4971 np.mat error using pyMBE
  src/python/espressomd/visualization.py
Labels: Python, automerge

#4967 Add ZnDraw visualizer
  doc/bibliography.bib
  doc/sphinx/conf.py.in
  doc/sphinx/installation.rst
  doc/sphinx/visualization.rst
  maintainer/CI/doc_warnings.sh
  src/python/espressomd/zn.py
Labels: New Feature, automerge

#4985 FFT refactoring
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/elc.cpp
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m.hpp
  src/core/electrostatics/p3m.impl.hpp
  src/core/fft/fft.cpp
  src/core/fft/fft.hpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dlc.cpp
  src/core/magnetostatics/dp3m.cpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m.impl.hpp
  src/core/p3m/CMakeLists.txt
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/p3m/FFTBackendLegacy.hpp
  src/core/p3m/FFTBuffersLegacy.cpp
  src/core/p3m/FFTBuffersLegacy.hpp
  src/core/p3m/common.hpp
  src/core/p3m/data_struct.hpp
  src/core/p3m/packing.hpp
  src/core/p3m/send_mesh.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/fft_test.cpp
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
Labels: Core, Improvement, automerge

#4986 Fix checkpointing bug and improve CI stability
  .gitlab-ci.yml
  doc/doxygen/CMakeLists.txt
  doc/doxygen/bibtex_postprocess.cmake
  doc/doxygen/bibtex_preprocess.cmake
  src/core/cell_system/CellStructure.hpp
  src/python/espressomd/checkpointing.py
  src/python/espressomd/system.py
  src/walberla_bridge/src/electrokinetics/generated_kernels/CMakeLists.txt
  testsuite/python/hybrid_decomposition.py
  testsuite/python/lb.py
  testsuite/python/lb_thermostat.py
  testsuite/python/lees_edwards.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: DevOps, BugFix, automerge

#4984 ZnDraw Visualizer patch
  doc/sphinx/installation.rst
  doc/sphinx/visualization.rst
  src/python/espressomd/zn.py
  testsuite/scripts/importlib_wrapper.py
Labels: Python, Improvement, automerge

#4975 Add ZnDraw in tutorials
  doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/electrodes/electrodes_part2.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part1.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part2.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part3.ipynb
  doc/tutorials/langevin_dynamics/langevin_dynamics.ipynb
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  doc/tutorials/widom_insertion/widom_insertion.ipynb
Labels: Documentation, New Feature, automerge

#4976 ZnDraw visualizer
  doc/tutorials/charged_system/charged_system.ipynb
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  doc/tutorials/polymers/polymers.ipynb
Labels: Documentation, CodingDay, automerge
