Repository espressomd/espresso, pull requests merged in 2024-05, with the labels that each got.

#4919 LB GPU communicator
  samples/lbf.py
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_boundary_ghost_layer.py
  testsuite/python/lb_circular_couette.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profileLB.py
  testsuite/python/propagation_lb.py
  testsuite/scripts/samples/CMakeLists.txt
Labels: Core, automerge, waLBerla, Performance

#4922 Document Python environments
  doc/sphinx/installation.rst
Labels: Documentation, automerge

#4924 Update Python requirements
  requirements.txt
  src/python/espressomd/utils.pyx
  testsuite/python/cutoffs.py
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/lb_stats.py
  testsuite/python/particle.py
Labels: Python, automerge, dependencies

#4912 Add ASE interface
  src/python/espressomd/CMakeLists.txt
  src/python/espressomd/plugins/CMakeLists.txt
  src/python/espressomd/plugins/ase.py
  src/python/espressomd/system.py
  testsuite/python/CMakeLists.txt
  testsuite/python/ase_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: Python, New Feature, automerge
