Repository espressomd/espresso, pull requests merged in 2025-05, with the labels that each got.

#5082 Fix inclusion of external libraries
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/cabana.patch
  cmake/espresso_unit_test.cmake
  cmake/heffte.patch
  src/core/CMakeLists.txt
  src/core/fft/CMakeLists.txt
  src/core/p3m/CMakeLists.txt
  src/python/pypresso.cmakein
  testsuite/python/CMakeLists.txt
Labels: CMake, automerge

#5086 P3M OpenMP kernels
  CMakeLists.txt
  cmake/FindFFTW3.cmake
  cmake/Findfftw3.cmake
  maintainer/benchmarks/benchmarks.py
  maintainer/benchmarks/p3m.py
  src/core/communication.cpp
  src/core/electrostatics/p3m.cpp
  src/core/fft/CMakeLists.txt
  src/core/fft/fft.cpp
  src/core/fft/init.cpp
  src/core/fft/init.hpp
  src/core/p3m/P3MFFT.hpp
  src/core/p3m/field_layout_helpers.hpp
  src/core/p3m/for_each_3d.hpp
  src/core/p3m/interpolation.hpp
  src/core/unit_tests/field_layout_helpers_test.cpp
  src/utils/include/utils/index.hpp
Labels: Core, automerge, Performance

#5083 LB OpenMP kernels
  CMakeLists.txt
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.h
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/BoundaryPackInfo.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/tests/CMakeLists.txt
Labels: Performance

#5089 DPD: consistent noise w.r.t particle traversal order
  src/core/dpd.cpp
  testsuite/python/dpd.py
Labels: Core, automerge

#5077 Implementation of NpT ensemble based on the MTK scheme
  doc/bibliography.bib
  doc/sphinx/integration.rst
  src/core/PropagationMode.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/p3m.cpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/integrators/CMakeLists.txt
  src/core/integrators/velocity_verlet_npt.hpp
  src/core/integrators/velocity_verlet_npt_Andersen.cpp
  src/core/integrators/velocity_verlet_npt_MTK.cpp
  src/core/magnetostatics/dp3m.cpp
  src/core/npt.cpp
  src/core/npt.hpp
  src/core/system/System.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/script_interface/integrators/IntegratorHandle.cpp
  src/script_interface/integrators/VelocityVerletIsoNPT.cpp
  src/script_interface/integrators/VelocityVerletIsoNPT.hpp
  testsuite/python/icc_interface.py
  testsuite/python/integrator_exceptions.py
  testsuite/python/integrator_npt_stats.py
  testsuite/python/long_range_actors.py
  testsuite/python/npt_thermostat.py
  testsuite/python/pressure.py
  testsuite/python/propagation_npt.py
Labels: New Feature

#5093 Bump dependencies
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/espresso_override_clang_tidy_checks.cmake
  cmake/walberla.patch
  maintainer/CI/build_cmake.sh
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.h
  maintainer/walberla_kernels/walberla_lbm_generation.py
  requirements.txt
  src/CMakeLists.txt
  src/core/MpiCallbacks.hpp
  src/core/cell_system/HybridDecomposition.cpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/electrostatics/p3m.cpp
  src/core/errorhandling.cpp
  src/core/errorhandling.hpp
  src/core/ghosts.cpp
  src/core/object-in-fluid/oif_local_forces.hpp
  src/core/p3m/CMakeLists.txt
  src/core/particle_reduction.hpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/EspressoCoreGlobalConfig.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/EspressoSystem_test.cpp
  src/core/unit_tests/MpiCallbacks_test.cpp
  src/core/unit_tests/ResourceCleanup_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/ek_interface_test.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/core/unit_tests/particle_reduction_test.cpp
  src/python/espressomd/CMakeLists.txt
  src/python/espressomd/script_interface.pxd
  src/script_interface/tests/Accumulators_test.cpp
  src/script_interface/tests/ConstantpHEnsemble_test.cpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/ParallelExceptionHandler_test.cpp
  src/script_interface/tests/ReactionEnsemble_test.cpp
  src/shapes/include/shapes/Union.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/shapes/src/Rhomboid.cpp
  src/utils/tests/bspline_test.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/BoundaryPackInfo.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
  testsuite/benchmarks/CMakeLists.txt
  testsuite/cmake/CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/samples/CMakeLists.txt
  testsuite/scripts/CMakeLists.txt
  testsuite/tutorials/CMakeLists.txt
Labels: DevOps, Improvement, BugFix, dependencies
