Repository espressomd/espresso, pull requests merged in 2025-04, with the labels that each got.

#5069 Reduce overhead of particle creation
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleList.cpp
Labels: automerge, Performance

#5063 Add heFFTe backend
  .github/workflows/push_pull.yml
  CMakeLists.txt
  doc/sphinx/running.rst
  doc/tutorials/widom_insertion/widom_insertion.ipynb
  maintainer/benchmarks/p3m.py
  src/core/CMakeLists.txt
  src/core/electrostatics/CMakeLists.txt
  src/core/electrostatics/coulomb.hpp
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m.hpp
  src/core/electrostatics/p3m.impl.hpp
  src/core/magnetostatics/dlc.cpp
  src/core/magnetostatics/dlc.hpp
  src/core/magnetostatics/dp3m.cpp
  src/core/p3m/CMakeLists.txt
  src/core/p3m/FFTBuffersLegacy.cpp
  src/core/p3m/FFTBuffersLegacy.hpp
  src/core/p3m/P3MFFT.hpp
  src/core/p3m/TuningAlgorithm.hpp
  src/core/p3m/common.cpp
  src/core/p3m/common.hpp
  src/core/p3m/data_struct.hpp
  src/core/p3m/field_layout_helpers.hpp
  src/core/p3m/influence_function.hpp
  src/core/p3m/interpolation.hpp
  src/core/p3m/send_mesh.cpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/field_layout_helpers_test.cpp
  src/script_interface/electrostatics/CoulombP3M.hpp
  testsuite/cmake/test_install.sh
  testsuite/python/coulomb_interface.py
  testsuite/python/icc.py
  testsuite/python/p3m_fft.py
  testsuite/python/thole.py
  testsuite/tutorials/test_widom_insertion.py
Labels: Core, automerge

#5072 for each particle
  src/core/cell_system/CellStructure.hpp
  src/core/error_handling/RuntimeErrorCollector.cpp
  src/core/error_handling/RuntimeErrorCollector.hpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/integrate.cpp
  src/core/virtual_sites/lb_tracers.cpp
  src/core/virtual_sites/relative.cpp
Labels: Core, automerge

#5073 Fix DPD thermostat
  src/core/system/System.cpp
  testsuite/python/dpd.py
Labels: Core, BugFix, automerge

#5076 Fix Cabana integration
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/cabana.patch
  cmake/espresso_cmake_config.cmakein
  cmake/espresso_unit_test.cmake
  cmake/heffte.patch
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  src/config/features.def
  src/core/CMakeLists.txt
  src/core/communication.cpp
  src/core/p3m/CMakeLists.txt
  src/python/pypresso.cmakein
  testsuite/python/CMakeLists.txt
Labels: automerge
