Repository espressomd/espresso, pull requests merged in 2025-02, with the labels that each got.

#5026 Allocating multiple blocks to one mpi rank in LB
  doc/sphinx/lb.rst
  maintainer/benchmarks/lb.py
  src/core/unit_tests/ek_interface_test.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/python/espressomd/detail/walberla.py
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LatticeWalberla.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/include/walberla_bridge/BlockAndCell.hpp
  src/walberla_bridge/include/walberla_bridge/LatticeWalberla.hpp
  src/walberla_bridge/src/BoundaryPackInfo.hpp
  src/walberla_bridge/src/LatticeWalberla.cpp
  src/walberla_bridge/src/lattice_boltzmann/InterpolateAndShiftAtBoundary.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/utils/boundary.hpp
  src/walberla_bridge/src/utils/types_conversion.hpp
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_field_accessors_tests.cu
  src/walberla_bridge/tests/LBWalberlaImpl_flow_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_statistical_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/LatticeWalberla_unit_tests.cpp
  testsuite/python/ek_interface.py
  testsuite/python/lattice.py
  testsuite/python/lb.py
  testsuite/python/lb_boundary.py
  testsuite/python/lb_boundary_ghost_layer.py
  testsuite/python/lb_boundary_volume_force.py
  testsuite/python/lb_circular_couette.py
  testsuite/python/lb_couette_xy.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_lees_edwards.py
  testsuite/python/lb_mass_conservation.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_planar_couette.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/lb_pressure_tensor.py
  testsuite/python/lb_shear.py
  testsuite/python/lb_slice.py
  testsuite/python/lb_streaming.py
  testsuite/python/lb_thermostat.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Labels: Core, automerge, waLBerla

#5040 Allow to calc energy contrib for single bond
  src/core/cell_system/CellStructure.hpp
  src/core/energy.cpp
  src/core/system/System.hpp
  src/python/espressomd/analyze.py
  src/python/espressomd/interactions.py
  src/python/espressomd/particle_data.py
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/interactions_bond_energy.py
Labels: New Feature, automerge

#5003 avoid custom ubb
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lbmpy_espresso.py
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.cu
Labels: automerge, waLBerla

#5041 Use C++ ranges algorithms
  src/core/accumulators/Correlator.cpp
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/cell_system/Cell.hpp
  src/core/cell_system/HybridDecomposition.cpp
  src/core/cells.cpp
  src/core/cluster_analysis/Cluster.cpp
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/constraints/Constraints.hpp
  src/core/cuda/init.cpp
  src/core/ek/EKReactions.hpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/energy.cpp
  src/core/error_handling/RuntimeErrorCollector.cpp
  src/core/exclusions.hpp
  src/core/galilei/ComFixed.hpp
  src/core/observables/PidObservable.hpp
  src/core/observables/fetch_particles.hpp
  src/core/particle_node.cpp
  src/core/random.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/system/System.hpp
  src/core/unit_tests/ParticleIterator_test.cpp
  src/core/unit_tests/RuntimeErrorCollector_test.cpp
  src/core/unit_tests/random_test.hpp
  src/particle_observables/include/particle_observables/algorithms.hpp
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/constraints/fields.hpp
  src/script_interface/interactions/BondedInteraction.hpp
  src/script_interface/walberla/EKReaction.hpp
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluidNode.cpp
  src/script_interface/walberla/VTKHandle.hpp
  src/shapes/include/shapes/Union.hpp
  src/shapes/src/Ellipsoid.cpp
  src/utils/include/utils/Accumulator.hpp
  src/utils/include/utils/contains.hpp
  src/utils/include/utils/keys.hpp
  src/utils/include/utils/matrix.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/gather_buffer_test.cpp
  src/utils/tests/keys_test.cpp
  src/utils/tests/scatter_buffer_test.cpp
  src/utils/tests/serialization_test.cpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_field_accessors_tests.cu
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards_tests.cpp
Labels: Core, automerge

#5043 Splitting kinetic energy into contributions
  src/core/Observable_stat.cpp
  src/core/Observable_stat.hpp
  src/core/energy.cpp
  src/core/energy_inline.hpp
  src/core/pressure_inline.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/energy_test.cpp
  src/python/espressomd/analyze.py
  src/script_interface/analysis/ObservableStat.cpp
  testsuite/python/analyze_energy.py
  testsuite/python/pressure.py
Labels: Core, ScriptInterface, automerge

#4995 Implement manual trigger of bond breakage
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bond_breakage/bond_breakage.hpp
  src/python/espressomd/bond_breakage.py
  src/script_interface/bond_breakage/BreakageSpecs.hpp
  testsuite/python/bond_breakage.py
Labels: Core, ScriptInterface, automerge
