Repository espressomd/espresso, pull requests merged in 2025-08, with the labels that each got.

#5130 New variant implementation
  CMakeLists.txt
  src/core/bond_breakage/actions.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/ParticleDecomposition.hpp
  src/core/communication.hpp
  src/core/energy_inline.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/object-in-fluid/oif_global_forces.cpp
  src/core/pressure_inline.hpp
  src/core/rattle.cpp
  src/core/thermostat.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/random_test.hpp
  src/python/espressomd/script_interface.pxd
  src/script_interface/GlobalContext.cpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectId.hpp
  src/script_interface/ObjectState.hpp
  src/script_interface/Variant.hpp
  src/script_interface/bond_breakage/BreakageSpec.hpp
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/electrostatics/ElectrostaticLayerCorrection.hpp
  src/script_interface/get_value.hpp
  src/script_interface/interactions/BondedInteraction.hpp
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/magnetostatics/DipolarLayerCorrection.hpp
  src/script_interface/packed_variant.hpp
  src/script_interface/scafacos/scafacos.cpp
  src/script_interface/tests/Accumulators_test.cpp
  src/script_interface/tests/AutoParameter_test.cpp
  src/script_interface/tests/AutoParameters_test.cpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
  src/script_interface/tests/ObjectHandle_test.cpp
  src/script_interface/tests/ObjectMap_test.cpp
  src/script_interface/tests/get_value_test.cpp
  src/script_interface/tests/packed_variant_test.cpp
  src/script_interface/walberla/LBFluidSlice.cpp
  src/utils/include/utils/serialization/pack.hpp
  src/utils/include/utils/serialization/variant.hpp
  src/utils/tests/serialization_test.cpp
Labels: Core, automerge

#5097 Shared memory parallelization for short range forces
  CMakeLists.txt
  src/core/BoxGeometry.hpp
  src/core/aosoa_pack.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/particle_enumeration.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/custom_verlet_list.hpp
  src/core/exclusions.hpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/npt.cpp
  src/core/short_range_cabana.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/script_interface/code_info/CodeInfo.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/caliper.py
  testsuite/python/integrator_exceptions.py
  testsuite/python/integrator_npt_stats.py
  testsuite/python/npt_thermostat.py
Labels: Core, Performance

#5142 Make short-range electrostatic force correction thread safe
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/elc.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/solver.hpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
Labels: Core, automerge

#5147 Improve performance of ParticleSlice property access
  src/python/espressomd/particle_data.py
Labels: Python, automerge

#5157 On a single MPI rank, don't use ghost cells in RegularDecomposition
  .gitlab-ci.yml
  src/core/cell_system/RegularDecomposition.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
Labels: Core, Performance
